html {
  font-size: 10px;
  -webkit-text-size-adjust: none;
	touch-action: manipulation;
  &.font-size {
    font-size: 12px;
  }
}
html,
body {
  font-family: $font-a;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: auto;
  color: $grey1;
}

body {
  overflow-x: hidden;
  &.dark-theme{
    background-color: $darkgrey;
    color: $white; 
  }
}

main {
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: none;
}

p {
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

a {
  display: inline-block;
  width: auto;
  color: inherit;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

h2 {
  font-weight: 500;
  color: $grey1;
  font-size: 1.8rem;
}

section {
}


