.o-container {
  max-width: calc(#{$wrapper} + #{$padding_col * 2});
  margin-left: auto;
  margin-right: auto;
  padding-right: $padding_col;
  padding-left: $padding_col;
  overflow-x: hidden;
  box-sizing: border-box;
}
