.o-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: -#{$col_gutter_percentage / 2} + '%';
  margin-right: -#{$col_gutter_percentage / 2} + '%';
  @include xs {
    margin-left: 0;
    margin-right: 0;
  }
}

[class*='o-col-'] {
  padding-left: $col_gutter_percentage / 2 * 1%;
  padding-right: $col_gutter_percentage / 2 * 1%;
  box-sizing: border-box;
  @include xs {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin gridGenerator($breakpoint, $offset: false) {
  @for $column from 1 to $columns-number + 1 {
    .o-col-#{$breakpoint}-#{$column} {
      width: (100% * $column) / $columns-number;
    }
  }

  @if $offset {
    @for $column from 1 to $columns-number + 1 {
      .o-col-#{$breakpoint}-offset-#{$column} {
        margin-left: (100% * $column) / $columns-number;
      }
    }
  }
}

@include only-xs {
  @include gridGenerator($breakpoint: 'xs', $offset: true);
}

@include only-sm {
  @include gridGenerator($breakpoint: 'sm', $offset: true);
}

@include only-md {
  @include gridGenerator($breakpoint: 'md', $offset: true);
}

@include only-lg {
  @include gridGenerator($breakpoint: 'lg', $offset: true);
}

// @mixin gridGenerator($breakpoint) {
//   @for $column from 1 to $columns-number + 1 {
//     .o-col-#{$breakpoint}-#{$column} {
//       width: (100% * $column) / $columns-number;
//     }
//   }
// }

// @include only-xs {
//   @include gridGenerator($breakpoint: 'xs');
// }

// @include only-sm {
//   @include gridGenerator($breakpoint: 'sm');
// }

// @include only-md {
//   @include gridGenerator($breakpoint: 'md');
// }

// @include only-lg {
//   @include gridGenerator($breakpoint: 'lg');
// }
