@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url('../fonts/GothamLight.eot');
  src: url('../fonts/GothamLight.eot') format('embedded-opentype'),
       url('../fonts/GothamLight.woff2') format('woff2'),
       url('../fonts/GothamLight.woff') format('woff'),
       url('../fonts/GothamLight.ttf') format('truetype'),
       url('../fonts/GothamLight.svg#GothamLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url('../fonts/GothamRegular.eot');
  src: url('../fonts/GothamRegular.eot') format('embedded-opentype'),
       url('../fonts/GothamRegular.woff2') format('woff2'),
       url('../fonts/GothamRegular.woff') format('woff'),
       url('../fonts/GothamRegular.ttf') format('truetype'),
       url('../fonts/GothamRegular.svg#GothamRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

 
@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url('../fonts/GothamMedium.eot');
  src: url('../fonts/GothamMedium.eot') format('embedded-opentype'),
       url('../fonts/GothamMedium.woff2') format('woff2'),
       url('../fonts/GothamMedium.woff') format('woff'),
       url('../fonts/GothamMedium.ttf') format('truetype'),
       url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url('../fonts/GothamBold.eot');
  src: url('../fonts/GothamBold.eot') format('embedded-opentype'),
       url('../fonts/GothamBold.woff2') format('woff2'),
       url('../fonts/GothamBold.woff') format('woff'),
       url('../fonts/GothamBold.ttf') format('truetype'),
       url('../fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.o-font {
  &-title {

  }

  &-bold {

  }
}
