.c-accordion {
    &__list {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: $white;
        border-radius: 4px;
        margin-bottom: 20px;
        .dark-theme &{
            background-color: $darkestgrey;
        }
    }
    &__button {
        min-height: 60px;
        width: 100%;
        color:$grey1;
        font-family: $font-a;
        font-size: 1.4rem;
        font-weight: 500;
        outline: none;
        text-align: left;
        padding-left: 15px;
        position: relative;
        &:active,
        &:focus{
            color:$grey1;
        }
        #color_arrow {
            .dark-theme & {
                stroke: $white;
            }
        }
        .c-accordion__focus &{
            color: $green;
            font-weight: 500;
            .arrow-select{
                transform: translateY(-50%) rotate(180deg);
            }
            #color_arrow{
                stroke: $green;
            }
        }
        .dark-theme &{
            color: $white;
        }
        .arrow-select{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        &--link{
            display: flex;
            align-items: center; 

            .arrow-select{
                transform: translateY(-50%) rotate(-90deg);
            }
        }
        
    }
    &__content {
        display: none;
    }
    &__content-title{
        font-family: $font-a;
        font-weight: 500;
        font-size: 1.8rem;
        color: $grey1;
        .dark-theme &{
            color: $white;
        }
    }
    &__content-text{
        font-family: $font-a;
        font-weight: 300;
        font-size: 1.4rem;
        color: $grey1;
        .dark-theme &{
            color: $white;
        }
    }
    &__content-link{
        font-family: $font-a;
        font-weight: 300;
        font-size: 1.4rem;
        color: $blue;
        text-decoration: underline;
        .dark-theme &{
            color: $white;
        }
    }
    .carreras__lists{
        padding-bottom: 20px;
    }
    .carreras__list{
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        &:not(:last-of-type){
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 15px;
                width: calc(100% - 30px);
                height: 1px;
                background-color: #D3DCED;
            }
        }
        
        button{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            svg{
                transform: rotate(-90deg);
                .dark-theme &{
                    #color_arrow{
                        stroke: $white;
                    }
                }
            }
        }
    }
}
