.c-alert{
    background-color:rgba( $green,0.1);
     padding: 16px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -42px;
    margin-right: -15px;
    margin-bottom: 22px;

        &__icon{ 
            width: 40px;
            height: 40px;
            background: url(../images/pages/steps/ico-congratulations.svg) no-repeat 0 0;


            .dark-theme &{

                
                background-image: url(../images/pages/steps/ico-congratulations-white.svg);

            }


            &--pencil{
                background-image: url(../images/commons/ico-lapiz.svg);

            }
        }
 
        &__text{
            font-weight: 500;
            font-size: 1.4rem;
            margin-left: 23px;
            color: $grey1;
            width: calc(100% - 63px);
            .dark-theme &{
                color: $white;
            }
        }


        @include xs{
            
           margin-left: 0px;
           margin-right: 0px;
           margin-bottom: 15px;
           padding: 16px 15px;
        }


        &--normal{
            margin-left: 0;
            margin-right: 0;
            padding: 15px 35px;
            margin-bottom: 20px;
        }

    }
