.c-button{
    font-family: $font-a;
    height: 43px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    border: none;
    font-size: 1.4rem;
    &:active,
    &:focus{
        outline: none;
    }
    &__blue{
        font-size: 1.4rem;
        font-weight: bold;
        background: linear-gradient(90deg, #3A92FD 0%, #385FA6 100%);
        color: $white;
        padding: 13px;
        &:active{
            color: $white;
        }
    } 
    &__outline-blue{
        background: white;
        color: $blue;
        border: 1px solid $blue;
        padding: 13px;
        font-weight: bold; 
        &:active{
            color: $blue;
        }
        .dark-theme &{
            background: transparent;
            color: $white;
        }
    }


    &__info{

        border: 0;
        font-size: 1.4rem;
        font-weight: bold;
        color: $blue;
        padding: 0;
        vertical-align: middle;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        .dark-theme &{
            color: $white;
        }

        &:before{
            display: inline-block;
            width: 40px;
            height: 30px;
            background: url(../images/pages/steps/ico-alert.svg) no-repeat 0 0;
            content: "";
            vertical-align: middle;
            margin-right: 14px;
            @include xs{
                width: 30px;
                margin-right: 5px;
            }

            .dark-theme &{
                background-image: url(../images/pages/steps/ico-alert-white.svg);
            }
        }


        @include xs{
            justify-content: center;
        }


        &--share{
            max-width: 171px;
            margin: 0 auto;
            border: solid 1px $blue;
           
            &:before{
                background: url(../images/pages/steps/ico-share.svg) no-repeat 11px center;
                margin-right: 8px;
                margin-left: 5px;
                .dark-theme &{

                    background-image: url(../images/pages/steps/ico-share-white.svg);
                }
            }

            @include xs{
                &:before{
                    width: 32px;
                }
            }


            .dark-theme &{
                border: solid 1px $white;
                color: $white;
               
            }

        }
    }



    &__white{
        background: white;
        color: $blue;
        border: none;
        padding: 13px;
        &:active{
            color: $blue;
        }
        .dark-theme &{
            background: transparent;
            color: $white;
        }
    }
    &__small-size{}
    &__normal-size{}
    &__big-size{}

    &__disabled{
        opacity: 0.3;
    }
} 