.c-card {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px $grey;
    &__body {
        width: 100%;
        padding: 20px $padding_col 30px $padding_col;
        .dark-theme &{
            background-color: $darkestgrey;
        }
    }
    &__title {
        font-family: $font-a;
        font-size: 1.6rem;
        font-weight: 500;
        color: $grey1;
        margin-bottom: 15px;
        .dark-theme &{
            color: $white;
        }
    }
    &__subtitle {
        font-family: $font-a;
        font-size: 1.4rem;
        font-weight: 300;
        color: $grey1;
        .dark-theme &{
            color: $white;
        }
    }
    &__text {
        font-family: $font-a;
        font-size: 1.4rem;
        font-weight: bold;
        color: $grey1;
        .dark-theme &{
            color: $white;
        }
    }
    &__footer {
        width: 100%;
        border-radius: 0 0 4px 4px;
        background-color: #f7fbea;
        padding: 14px 13px 20px 13px;
        .dark-theme &{
            background-color: inherit;
        }
        &-text {
            font-family: $font-a;
            font-size: 1.4rem;
            font-weight: 500;
            color: $grey1;
            .dark-theme &{
                color: $white;
            }
        }
    }
}
