.c-error {
    color: $orange1;
    font-family: $font-a;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: right;
    line-height: 18px;
    display: none;
    .c-fieldset__error &{
        display: block;
    }
    &--sede{
        position: relative;
        top: -20px;
        text-align: left;
    }
}