.c-fieldset {
    width: 100%;
    margin-bottom: 20px;
    &__content {
        width: 100%;
        border: 1px solid $grey;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.03);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
       
        .dark-theme &{
            background-color: $darkestgrey;
            border: none;
        }
        .c-fieldset__focus &{
            border: 2px solid $green;
            background-color: $white;
            .dark-theme &{
                background-color: $darkgrey;
            }
        }
        .c-fieldset__error &{
            border: 2px solid $orange;
            background-color: $white;
            .dark-theme &{
                background-color: $darkgrey;
            }
        }
        &-radio{
            display: flex;
        }
        button{
            background: transparent;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__text-number{
        display: flex;
        flex-direction: row;
        align-items: center;
        label{
            flex: 0 0 calc(100% - 140px);
        }
    }
}
