.c-input-number {
    &__content {
        flex: 0 0 140px;
        display: flex;
        align-items: center;
        background: $white;
        border-radius: 0 4px 4px 0;
        .dark-theme &{
            background-color: $darkgrey;
            border: solid 1px $darkestgrey; 
        }
    }
    &__button {
        width: 50px;
        height: 60px;
        position: static !important;
        transform: none !important;
        font-size: 20px;
        font-weight: bold;
        color: $blue;
        text-align: center;
        .dark-theme &{
            color: $white;
        }

        &-dec{
            border-radius: 0 4px 4px 0;
        }
    }
    &__input {
        width: 40px;
        height: 60px;
        border: none;
        background: transparent;
        text-align: center;
        color: $grey1;
        font-family: $font-a;
        font-size: 1.4rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        .dark-theme &{
            color: $white;
        }
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }


    &__hidden{
        width: 0;
        height: 0;
        overflow: hidden;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 0;
    }
}
