.c-input-text {
    -moz-appearance: none !important;
    width: 100%;
    border: none;
    outline: none;
    min-height: 43px;
    border-radius: 4px;
    background-color: transparent;
    font-family: $font-a;
    font-weight: 500;
    font-size: 1.4rem;
    color: $grey1;
    padding: 13px;
    caret-color: $green;
    &:-webkit-autofill {
        -webkit-background-clip: text;
        .dark-theme & {
            -webkit-text-fill-color: white;
        }
    }
    .dark-theme & {
        color: $white;
    }
    &::placeholder {
        font-weight: 300;
        .dark-theme & {
            color: $white;
        }
    }
    .c-fieldset__error & {
        color: $orange2;
    }
    &__demre {
        background-position: center right 20px;
        background-repeat: no-repeat;
    }
    &__mask {
        position: relative;
    }
    &__big-size {
        min-height: 60px;
    }
}
