input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }



input[type=date] { -moz-appearance:textfield; }

.c-switch{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    &__label{
        padding-left: 19px;
        font-size: 1.4rem;
        font-weight: 500;
        color: $grey1;
        
        .dark-theme &{
            color: $white;
        } 
    }
}
  
.c-input{

    &-switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
    
        &__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $grey;
            -webkit-transition: .4s;
            transition: .4s;

            .dark-theme &{
                background-color: $darkestgrey;
            }
    
            &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 3px;
                top: 50%;
                background-color: $white;
                -webkit-transition: .4s;
                transition: .4s;
                transform: translateY(-50%);
                .dark-theme &{
                    background-color: $darkgrey;
                }
            }
        }
    
        &__round {
            border-radius: 30px;
    
            &:before {
                border-radius: 50%;
            }
        }
    
    
        &__input {
            opacity: 0;
            width: 0;
            height: 0;
    
            &:checked + span {
                background-color: $green;
            }
    
            &:focus + span {
                box-shadow: 0 0 1px $green;
            }
    
            &:checked + span:before {
                transform: translateX(24px) translateY(-50%);
            }
        }
    }

}


input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 6px;
    background-color: $grey;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $green), color-stop(100%, $green));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: $blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px; 
    border: solid 1px $blue;
}



input[type=range]::-moz-range-thumb {
    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: $blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
    border: solid 1px $blue;
}

.c-points{
    
    margin-bottom: 13px;
    .dark-theme &{
        //border: solid 1px $darkestgrey;
        //background-color: $darkestgrey;
    }


    &__mask{
        display: flex;
        padding: 0;
        border: solid 1px $grey;
        background-color: $lightestgrey;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        position: relative;

        .dark-theme &{
            border: 0;
            background-color: transparent;
        }

        @include xs{ 
            padding:24px 18px;
            display: block;

            .dark-theme &{

                background-color: $darkestgrey;

            }
        }
    
    
    }

   
    
    &__header{
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10px;
        @include xs{
            display: flex;
        }
       
       
    }

    &__course{
        font-size: 1.2rem;
        color: $grey1;
        width: 100%;
        font-weight: 500;
        padding: 20px 12px;
        @include xs{
            padding: 0;
        }


        .dark-theme &{
            background-color: $darkestgrey;
            color: $white;
        }
    }
 
    &__number{
        width: 30%;
        text-align: right;
        font-size: 1.4rem;
        font-weight: 300;
        display: none;
        strong{
            color: $grey1;
            font-weight: bold;
            .dark-theme &{
                color: $white;
            }
        }

        @include xs{
            display: block;
            position: absolute;
            right: 19px;
            top: 21px;
            text-align: right;
        }

        .dark-theme &{
            color: $white
        }
    }

    &__container-text-range{
        display: none;
        margin-bottom: 4px;
        font-weight: 300;
        font-size: 1.4rem;
        text-align: center;
      
        border-left: solid 1px #dfdfdf;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        margin-top: 20px;

        .dark-theme &{
            background-color: $lightestgrey;
        }
      

        @include xs{
            display: flex;
            border: 0;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            color: $grey1;

            .dark-theme &{
                background-color: transparent;
            }
        }

        
       
    }

    &-range{
        
      

        &__beginning,
        &__end{
            width: 50%;
            font-size: 1.2rem;
            color: inherit; 
            font-weight: 300;    
        }
    
        &__beginning{
            text-align: left;
            .dark-theme &{
                color: $white
            }
        }
    
        &__end{
            text-align: right;
            .dark-theme &{
                color: $white
            }
        }
    }
 
    &__input-range{
        width: 130px;
        border-left: solid 1px $grey;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        font-weight: 500;
        font-size: 1.4rem;
        color: $grey1;
        caret-color: $green;
        padding-left: 13px;
        padding-right: 13px;
        text-align: center;
        font-family: $font-a;
        .dark-theme &{
            background-color: $darkestgrey;
            color: $white;
            border-left: solid 1px $darkestgrey; 
        }

        @include xs{
            .dark-theme &{
                background-color: $darkgrey;
            }
        }



        &::-moz-autofill,
        &::-moz-autofill-preview,
        &::-webkit-autofill {
            filter: none;
        }
        .dark-theme & {
            color: $white;
        }
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &::placeholder {
            font-weight: 300;
            .dark-theme & {
                color: $white;
            }
        }

    }


    &__focus{
        border: solid 2px $green;
        border-radius: 4px;
        overflow: hidden;


        .dark-theme &{

            border:solid 2px $green;
        }

        .c-points__course{
             background-color: $white;
            .dark-theme &{
                background-color: $black;   
            }

            @include xs{
                background-color: transparent;
                .dark-theme &{

                    background-color: transparent;
                }
            }
        }

        .c-points__input-range{
            border-left: 0;
            .dark-theme &{
                background-color: $black;  
                @include xs{
                    background-color: $darkgrey;
                } 
            }
        }
       
    }

    
    &.c-fieldset__error{
        .c-points__mask{
            border:solid 2px $orange;
        }
    } 


 
}


.c-average{
   
   
    margin-bottom: 25px;

    

    &__mask{
        display: flex;
        width: 100%;
        min-height: 61px;
        border: solid 1px $grey;
        border-radius: 4px;
        min-height: 61px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        .dark-theme &{
            border: solid 1px $darkestgrey;
        }
    }

    &__label{
        font-weight: 500;
        font-size: 1.2rem;
        padding: 20px 12px;
        background-color: $lightestgrey;
        display: flex;
        align-items: center;
        width: 100%;
        color: $grey1;

        .dark-theme &{
            background-color: $darkestgrey;
            color: $white;
        }
      
    }
    &__input{
        font-weight: 300;
        font-size: 1.4rem;
        color: $grey1;
        text-align: center;
        width: 130px;
        border-left: solid 1px $grey;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        caret-color: $green;
        padding-left: 26px;
        padding-right: 20px;
        text-align: left;
        border-radius: 0 4px 4px 0;
        .dark-theme &{
            background-color: $black;
            color: $white;
            border-left: solid 1px $darkestgrey;
        }
    }

    &:has(input){


    }

    &__focus{
        border: solid 2px $green;
        background-color: $white;

        .dark-theme &{

            background-color: red;
        }
        
        .c-average__label{
            
        

            .dark-theme &{
                background-color: $darkestgrey;
            }
           
        }

        .c-average__input{

            border-left: 0;
        }


        .c-points__input-range{
            
            .dark-theme &{

                background-color: $black;
            }
        }

        @include xs{
            background-color: #f6f6f6; 
        }


        .dark-theme &{

            border: solid 2px $green;
        }

        


        
    }


    &.c-fieldset__error{

        .c-average__mask{
            border:solid 2px $orange;

        }
    }


    
}