.c-lightbox {
  width: 100%;
  max-width: calc(350px + 40px);
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2000;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  &__content {
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: $white;
    position: relative;
    transform: translateY(10%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    .dark-theme &{
      background-color: $darkestgrey;
    }
    @include xs {
      overflow: auto;
    }
  }

  &__body {
    min-height: 320px;
    padding: 40px 15px 15px 15px;
    @include xs {
      min-height: inherit;
    }
    &-wrapper {
    }
    &-logo{
      display: block;
      margin: 0 auto;
      .dark-theme &{
        .svg{
          stroke: $white;
        }
        .svg-circle{
          fill: $white;
        }
      }
    }
    &-title {
      color: $grey1;
      font-family: $font-a;
      font-size: 1.8rem;
      font-weight: 500;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      .dark-theme &{
        color: $white;
      }
    }
    &-text {
      color: $grey1;
      font-family: $font-a;
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      .dark-theme &{
        color: $white;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button,a{
        margin: 0 5px;
        &:first-of-type{
          margin-left: 0;
        }
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
}

.is-show ~ .c-overlay {
  opacity: 1;
  visibility: visible;
}

.is-show {
  visibility: visible;
}

.is-show .c-lightbox__content {
  transform: translateY(0);
  opacity: 1;
}
