.c-label {
    color: $grey1;
    font-family: $font-a;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 12px;
    line-height: 20px;
    .dark-theme &{
        color: $white;
    }
    &__radio {
        padding-left: 0;
        display: flex;
    } 
    &__radio-sede {
        padding-left: 0;
        display: flex;
        width: 100%;
        min-height: 60px;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        background-color: $lightestgrey;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        .dark-theme &{
            border: none;
        }
    }
}
