.c-radio-sede {
    display: flex;
    width: 100%;
    .c-fieldset__content-radio &{
        margin: 0 20px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__content{
        background-color: $lightestgrey;
        width: 100%;
        display: flex;
        .dark-theme &{
            background-color: $darkestgrey;
        }
    }
    &__content-image{
        width: 100px;
        overflow: hidden;
        img{
            object-fit: cover;
            object-position: center;
        }
    }
    &__content-text{
        width: calc(100% - 100px);
        padding-left: 15px;
        display: flex;
        align-items: center;
        p{
            font-family: $font-a;
            color: $grey1;
            font-size: 1.4rem;
            line-height: 1.6rem;
            font-weight: 300;
            .dark-theme &{
                color: $white;
            }
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .c-radio-sede__content {
            background-color: $green;
            p{
                color: $white;
                font-weight: 500;
            }
        }
    }
}
