.c-radio {
    .c-fieldset__content-radio &{
        margin: 0 20px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    span {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
        border: 1px solid $grey;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $grey; 
            border-radius: 50%;
            width: 10px;
            height: 10px;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ span {
            &:after {
                content: "";
                background-color: $green;
            }
        }
    }
}
