.c-select {
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    min-height: 43px;
    border-radius: 4px;
    background: transparent;
    font-family: $font-a;
    font-weight: 300;
    font-size: 1.4rem;
    color: $grey1;
    padding: 13px;
    .dark-theme & {
        color: $white;
    }
    .c-fieldset__error & {
        color: $orange2;
        font-weight: 500;
    }
    &__mask {
        position: relative;
        .arrow-select {
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
        }
        #color_arrow {
            .dark-theme & {
                stroke: $white;
            }
        }
    }
    &__bold {
        font-weight: 500;
    }
}
