$baseImagesURL: '../images';

$white: #fff;
$black: #000;

$grey: #dfdfdf;
$grey1: #4F5152;
$lightestgrey: #f6f6f6;

$blue: #385fa6;
$darkblue: #1E2530;
$green: #99cc00;

$darkgrey: #181819;
$darkergrey: #28242d;
$darkestgrey: #3d3942;

$orange: #F47628;
$orange1: #f5822d;
$orange2: #F68E33;

// FONTS
$font-a: 'Gotham', sans-serif;
$font-b: 'Barlow', sans-serif;

$padding_col: 15px;
$padding_col_mobile: 15px;

$columns-number: 12;
$wrapper: 1140px;
$col_gutter: 30px;

$wrapperna: 1140px;
$col_gutterna: 30px;

$col_gutter_percentage: ($col_gutterna * 100) / $wrapperna;

$breakpoints: (
  xs: 0px,
  sm: 768px,
  md: 991px,
  lg: 1200px,
);
