.l-header{

    position: relative;

    @include xs{
        padding-top: 15px;

        background: url(../images/commons/img-header.png) center right;
    }
    
    &__content{
        padding: 0 15px 15px;
        text-align: right;
        @include xs{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 10px;
        }
       
    }

    &__container{
        background: $blue url(../images/commons/img-header.png) 0 0 /cover;
        @include xs{
            background: none;
        }
      
    }

    &__uss-logo{
        margin-top: 15px;
        margin-bottom: 15px;
        @include xs{
            margin: 0;
            float: left;
        }
    }

    &__content-buttons{
        @include xs{
            float: right;
        }
    }
    
    &__button{
        width: 30px;
        height: 30px;
        background-color: $darkergrey;
        padding: 5px;
        border: none;
        border-radius: 50%;
        margin: 0 6px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
        @include xs{
            margin: 0 10px;
        }
        &:first-child{
            @include xs{
                margin-left: 0;
            }
        }
        &:last-child{
            @include xs{
                margin-right: 0;
            }
        }
    }

    &__image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__image-moon{
        display: block;
        .dark-theme &{
            display: none;
        }
    }

    &__image-sun{
        display: none;
        .dark-theme &{
            display: block;
        }
    }

    &__exit{
        display: inline-block;

        &:before{
            content: "";
            width: 14px;
            height: 14px;
            background: url(../images/header/ico-exit.svg) no-repeat 0 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); 
            background-position: center;
        }

        &--desktop{
            position: relative;
            right: initial;
            top: initial;
            display: inline-block;
            margin-top: 15px;
            @include xs{
                display: none;
            } 
        }
    }

    &__nav{

        height: 30px;
        display: flex;
        margin-top: 12px;
        @include xs{
            margin-top: 25px;
        }
       
    }

    &__steps{
        width: calc(100% / 2);
        font-weight: bold;
        color: $white;
        text-align: center;
        position: relative;
        font-size: 1.2rem;

        &:before{
            
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: $darkblue;
            left: 0;
            bottom: 0;

           
        }

        &:first-child{
            
            &::before{
                border-radius: 5px 0 0 5px;
            }
        }


        &:last-child{
            
            &::before{
                border-radius: 0 5px 5px 0;
            }
        }

            
        &--active{
           
            color: $green;
            opacity: 1;
            cursor: pointer;
    
            &:before{
                background-color: $green;
                border-radius: 5px;
            }
        }

        
        &:not([href]):not(.l-header__steps--active){
            opacity: 0.5;
            cursor: not-allowed;
        }


        &--career{
            width: 25%;
        }

        &--personal-information{
            width: 45%;
        }

        &--personal-pdt{
            width: 30%;
        }

    }


    

}