.u-none {
  display: none !important;
  &\@lg {
    @include only-lg {
      display: none !important;
    }
  }
  &\@md {
    @include only-md {
      display: none !important;
    }
  }
  &\@sm {
    @include only-sm {
      display: none !important;
    }
  }
  &\@xs {
    @include only-xs {
      display: none !important;
    }
  }
  &\@begin-sm {
    @include begin-sm {
      display: none !important;
    }
  }
}

.u-opacity {
  opacity: 0;
}

.u-relative {
  position: relative;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-xs-text-left {
  @include xs {
    text-align: left;
  }
}

.u-text-right {
  text-align: right;
}

.u-overflow {
  overflow: hidden;
}

.u-margin-center {
  margin-left: auto;
  margin-right: auto;
}

.u-text-color-blue {
  color: $blue;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-only-desk {
  @include xs {
    display: none;
  }
}

.u-only-mobile {
  display: none;
  @include xs {
    display: block;
  }
}

.u-only-mobile-flex {
  display: none;
  @include xs {
    display: flex;
  }
}

.u-mt-5 {
  margin-top: 5px;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mb-5 {
  margin-bottom: 5px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-width-60 {
  width: 60%;
  @include xs {
    width: 100%;
  }
}

.u-mb-60 {
  margin-bottom: 60px;
}

.u-mb-70 {
  margin-bottom: 70px;
}

.u-displey-flex {
  display: flex;
}

.u-align-items-flex-end {
  align-items: flex-end;
}

.u-ml-0 {
  margin-left: 0;
}
.u-mr-0 {
  margin-right: 0;
}

.u-no-padding-x {
  padding-left: 0;
  padding-right: 0;
}

.u-padding-x-only-mobile {
  @include begin-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.u-pb-15{
  padding-bottom: 15px;
}

.u-pt-15{
  padding-top: 15px;
}

.u-height-desktop-sidebar{
  @include only-lg {
    height: 700px;
  }
  @include only-md {
    height: 700px;
  }
}