*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0px solid;
  box-sizing: border-box;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    outline: 0px solid;
  }
}


.p-benefit{

  &__subtitle{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 300;
    margin: 1.3rem 0 2.3rem;
  }
}