extends ../layouts/l-layout.pug
block content    
    main
        div(class="p-login o-container u-padding-x-only-mobile") 
            div(class="o-col")
                div(class="p-login__banner o-col-xs-12 o-col-sm-6 o-col-md-6 o-col-lg-6")
                    img.p-login__banner-img(class="u-none@xs", src=baseImagesURL+"/pages/login/img-banner.jpg", alt="")
                    img.p-login__banner-img-mob(class="u-none@begin-sm", src=baseImagesURL+"/pages/login/img-banner-mob.jpg", alt="")
                    div(class="p-login__content-banner")
                        img.p-login__logo(src=baseImagesURL+"/commons/img-logo.png", alt="universidad san sebastian")
                        h1.p-login__title Simulador de Becas USS
                            small Admisión 2022
                    div(class="p-login__content-subtitle") 
                        div.p-login__content-subtitle-mask
                        h2.p-login__subtitle Descubre los beneficios a los que podrías acceder según la carrera de tu preferencia.
                div(class="p-login__form o-col-xs-12 o-col-sm-6 o-col-md-6 o-col-lg-6")     
                    div.p-login__inner
                        .p-login__accessibility
                            button.l-header__button.js-accessibility
                                img.l-header__image.l-header__image-moon(src=baseImagesURL+"/commons/ico-accessibility-moon.svg", alt="")
                                img.l-header__image.l-header__image-sun(src=baseImagesURL+"/commons/ico-accessibility-sun.svg", alt="")
                        form(class="js-v-form-container", action="paso2-recurrente.html", role="form")
                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    label.c-label(for="nombre") Nombre
                                    - var texto = "Ingresa tu primer nombre";
                                    - var clase  = "c-input-text js-v-acronimo";
                                    - var id = "nombre";
                                    - var name = "nombre";
                                    - var valor = "";
                                    - var tipo = "text";
                                    - var maxlength = false;
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa un nombre válido
                            
                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    label.c-label(for="apellido") Apellido
                                    - var texto = "Ingresa tu apellido";
                                    - var clase  = "c-input-text js-v-acronimo";
                                    - var id = "apellido";
                                    - var name = "apellido";
                                    - var valor = "";
                                    - var tipo = "text";
                                    - var maxlength = false;
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa un apellido válido

                            fieldset.c-fieldset
                                div.c-fieldset__content-radio
                                    div.c-radio
                                        label.c-label.c-label__radio(for="rut")
                                            input(type="radio", id="rut", name="cedular", value="rut" checked="true")
                                            span
                                            p Rut

                                    div.c-radio
                                        label.c-label.c-label__radio(for="pasaporte")
                                            input(type="radio", id="pasaporte", name="cedular", value="pasaporte")
                                            span
                                            p Pasaporte

                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    - var texto = "Ejemplo: 12345678-9";
                                    - var clase  = "c-input-text js-v-form-key-rut js-v-form-rut js-v-acronimo";
                                    - var id = "cedula";
                                    - var name = "cedula";
                                    - var valor = "";
                                    - var tipo = "text";
                                    - var maxlength = false;
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa una Cédula de identidad válida
                            
                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    label.c-label(for="apellido") Email
                                    - var texto = "Ingresa tu email";
                                    - var clase  = "c-input-text js-v-form-email js-v-acronimo";
                                    - var id = "apellido";
                                    - var name = "email";
                                    - var valor = "";
                                    - var tipo = "email";
                                    - var maxlength = false;
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa un email válido

                            p.p-login__text-detail * Sólo puedes postular a becas si rindes la PDT este año o lo hiciste el año pasado (los puntajes tienen 2 años de vigencia).

                            // Componente boton
                            - var id = "";
                            - var tipo = "submit";
                            - var texto = "Iniciar simulación";
                            - var clase  = "js-v-form c-button__blue c-button__disabled js-v-form-acronimo";
                            - var dataModal = "";
                            include ../components/c-button.pug
