extends ../layouts/l-layout.pug
block content
    - var navegacion = true
    - var estado = 'datos'
    - var usuarioNuevo = true
    include ../layouts/l-header.pug
     
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                 div(class="p-steps__banner o-col-xs-12 o-col-sm-12 o-col-md-5 o-col-lg-5 u-height-desktop-sidebar")

                    h1.p-steps__title Datos personales
                    p.p-steps__subtitle Actualización de información personal
                 div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-7 o-col-lg-7")   
                        div.p-steps__inner.p-steps__inner--comparador
                            
                            form(class="js-v-form-container", action="", role="form")
                                div(class="o-col")
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")

                                        fieldset.c-fieldset.js-v-form-group
                                            div.c-fieldset__content
                                                label.c-label(for="nombre") Nombre
                                                - var texto = "Ingresa tu nombre";
                                                - var clase  = "c-input-text";
                                                - var id = "nombre";
                                                - var name = "nombre";
                                                - var valor = "";
                                                - var tipo = "text";
                                                - var maxlength = false;
                                                - var botonclave = false;
                                                include ../components/c-input-text.pug
                                            p.c-error(role="alert") Ingresa un nombre válido

                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        fieldset.c-fieldset.js-v-form-group
                                            div.c-fieldset__content
                                                label.c-label(for="apellido") Apellido
                                                - var texto = "Ingresa tu apellido";
                                                - var clase  = "c-input-text";
                                                - var id = "apellido";
                                                - var name = "apellido";
                                                - var valor = "";
                                                - var tipo = "text";
                                                - var maxlength = false;
                                                - var botonclave = false;
                                                include ../components/c-input-text.pug
                                            p.c-error(role="alert") Ingresa un apellido válido
                                    
                                div(class="o-col")
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        fieldset.c-fieldset
                                            div.c-fieldset__content-radio
                                                div.c-radio
                                                    label.c-label.c-label__radio(for="rut")
                                                        input(type="radio", id="rut", name="cedular", value="rut" checked="true")
                                                        span
                                                        p Rut

                                                div.c-radio
                                                    label.c-label.c-label__radio(for="pasaporte")
                                                        input(type="radio", id="pasaporte", name="cedular", value="pasaporte")
                                                        span
                                                        p Pasaporte

                                        fieldset.c-fieldset.js-v-form-group
                                            div.c-fieldset__content
                                                - var texto = "Ejemplo: 12345678-9";
                                                - var clase  = "c-input-text js-v-form-key-rut js-v-form-rut";
                                                - var id = "cedula";
                                                - var name = "cedula";
                                                - var valor = "";
                                                - var tipo = "text";
                                                - var maxlength = false;
                                                - var botonclave = false;
                                                include ../components/c-input-text.pug
                                            p.c-error(role="alert") Ingresa una Cédula de identidad válida

                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6 u-displey-flex u-align-items-flex-end")
                                        fieldset.c-fieldset.js-v-form-group
                                            div.c-fieldset__content
                                                label.c-label(for="celular") Celular
                                                - var texto = "Ejemplo: +5698876567";
                                                - var clase  = "c-input-text js-v-form-key-celular js-v-form-celular";
                                                - var id = "celular";
                                                - var name = "celular";
                                                - var valor = "";
                                                - var tipo = "text";
                                                - var maxlength = false;
                                                - var botonclave = false;
                                                include ../components/c-input-text.pug
                                            p.c-error(role="alert") Ingresa un teléfono válido
                                
                                div(class="o-col")
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        fieldset.c-fieldset.js-v-form-group
                                            div.c-fieldset__content
                                                label.c-label(for="apellido") Email
                                                - var texto = "Ingresa tu email";
                                                - var clase  = "c-input-text js-v-form-email";
                                                - var id = "apellido";
                                                - var name = "email";
                                                - var valor = "";
                                                - var tipo = "email";
                                                - var maxlength = false;
                                                - var botonclave = false;
                                                include ../components/c-input-text.pug
                                            p.c-error(role="alert") Ingresa un email válido
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        fieldset.c-fieldset
                                            div.c-fieldset__content
                                                label.c-label(for="ensenanza") Año egreso de Enseñanza Media
                                                - var texto = "Selecciona tu año de egreso";
                                                - var clase  = "c-select";
                                                - var id = "ensenanza";
                                                - var name = "ensenanza";
                                                - var valor = "";
                                                include ../components/c-select.pug
                                            p.c-error(role="alert") Selecciona un año de egreso de Enseñanza Media
                                
                                div(class="o-col")
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-12 o-col-lg-12")
                                        h2.p-steps__form-title Grupo familiar
                                        p.p-steps__subtitle Ten presente que el grupo familiar se compone de las personas que viven en tu hogar incluyéndote a ti.

                                div(class="o-col")
                
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        fieldset.c-fieldset
                                            div.c-fieldset__content.c-fieldset__text-number
                                                label.c-label(for="integrantes") Nº de integrantes en tu hogar 
                                                div.c-input-number__content 
                                                    button.c-input-number__button.c-input-number__button-inc -
                                                    input.c-input-number__input(id="integrantes", type="number", min="0", max="30", value="5")
                                                    button.c-input-number__button.c-input-number__button-dec +

                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        fieldset.c-fieldset
                                            div.c-fieldset__content
                                                label.c-label(for="rango") Rango de ingreso familiar mensual
                                                - var texto = "Selecciona un monto ";
                                                - var clase  = "c-select";
                                                - var id = "rango";
                                                - var name = "rango";
                                                - var valor = "";
                                                - var tipo = 'ingreso'
                                                include ../components/c-select.pug
                                            p.c-error(role="alert") Selecciona un año egreso Enseñanza Media
                                
                                div(class="o-col")
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        - var texto = "VOLVER";
                                        - var clase  = "c-button__white";
                                        include ../components/c-button.pug
                                    div(class="o-col-xs-12 o-col-sm-12 o-col-md-6 o-col-lg-6")
                                        // Componente boton
                                        - var id = "";
                                        - var tipo = "submit";
                                        - var texto = "ACTUALIZAR INFORMACION";
                                        - var clase  = "js-v-form c-button__blue";
                                        - var dataModal = "";
                                        include ../components/c-button.pug
                            
    include ../layouts/l-footer.pug
