extends ../layouts/l-layout.pug
block content
    - var navegacion = false
    include ../layouts/l-header.pug
 
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                div(class="p-steps__banner o-col-xs-12 o-col-sm-12 o-col-md-4 o-col-lg-4 u-height-desktop-sidebar")
                    h1.p-steps__title ¡Tu simulación está lista!
                    - var classIco = ''
                    - var clase = ''
                    - var texto = '¡Felicitaciones! Con tu puntaje si podrías ser un seleccionado USS'

                    include ../components/c-alert.pug 

                        - var texto = "SOLICITAR CERTIFICADO";
                        - var clase  = "js-call-modal c-button c-button__blue u-only-desk"; 
                        - var dataModal = "avisoImportante";
                    include ../components/c-button.pug 

                div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-8 o-col-lg-8")
                    div.p-steps__inner 
                        form(action="paso7.html", role="form")
                            p.p-steps__subtitle De acuerdo a los datos ingresados, podrías optar a las siguientes becas y beneficios:
                            h2.p-steps__form-title ¿Cuánto pagaré si uso los beneficios?
                            
                            div.pago-beneficios
                                h3.pago-beneficios__title Valor matrícula
                                    span $0
                                p.pago-beneficios__subtitle Beca 100% matrícula, postulación primera preferencia.
                                hr.pago-beneficios__separacion
                                h3.pago-beneficios__title Valor arancel total
                                    span $2.412.540
                                p.pago-beneficios__subtitle Beneficios: Beca USS - Bicentenario - CAE
                                hr.pago-beneficios__separacion
                                h3.pago-beneficios__title Valor mensual
                                    span $2.412.540
                                p.pago-beneficios__subtitle Calculado en 10 cuotas
                                p.pago-beneficios__condicion * El desglose de todos los montos se encuentran detallados en el certificado



                            include ../components/c-accordion.pug

                            div.p-steps__container-button
                            
                                a.c-button.c-button__outline-blue(href="paso2.html") SIMULA OTRA CARRERA

                                - var texto = "SOLICITAR CERTIFICADO";
                                - var clase  = "c-button c-button__blue u-only-mobile"; 
                                include ../components/c-button.pug

                                - var texto = "SOLICITAR MÁS INFORMACIÓN";
                                - var clase  = "c-button c-button__info";
                                include ../components/c-button.pug
                         
                                                       
    include ../layouts/l-footer.pug
