extends ../layouts/l-layout.pug
block content
    - var navegacion = false
    include ../layouts/l-header.pug
 
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                div(class="p-steps__banner u-only-desk o-col-xs-12 o-col-sm-12 o-col-md-4 o-col-lg-4 u-height-desktop-sidebar")
                    h1.p-steps__title ¡Tu simulación está lista!
                    p.p-steps__subtitle De acuerdo a los datos ingresados, podrías optar a los siguientes descuentos:
                        - var texto = "ENVIAR CERTIFICADO AL MAIL";
                    - var clase  = "c-button c-button__blue u-only-desk";
                    include ../components/c-button.pug 

                div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-8 o-col-lg-8")

                    div.p-steps__inner.p-steps__inner--comparador

                        .o-col
                            .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12 
                                h2.p-steps__form-title.p-steps__simulacion--title.u-mb-5  Comparar simulaciones
                                p.p-steps__subtitle Este es el resultado de tu comparación
                        .o-col.p-steps__comparador--box
                            .o-col-xs-12.o-col-sm-4.o-col-md-4.o-col-lg-4 
                                include ../components/c-card.pug
                            .o-col-xs-12.o-col-sm-4.o-col-md-4.o-col-lg-4
                                include ../components/c-card.pug
                            .o-col-xs-12.o-col-sm-4.o-col-md-4.o-col-lg-4
                                include ../components/c-card.pug
                

                        div.p-steps__container-button
                           
                            - var texto = "VOLVER";
                            - var clase  = "c-button__white u-only-desk";
                             include ../components/c-button.pug

                            - var texto = "NUEVA COMPARACIÓN";
                            - var clase  = "c-button c-button__blue u-only-mobile";
                             include ../components/c-button.pug
                          
                                                       
    include ../layouts/l-footer.pug
