extends ../layouts/l-layout.pug
block content
    - var navegacion = true
    - var estado = 'ptd'
    - var usuarioNuevo = true
    include ../layouts/l-header.pug
     
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                 div(class="p-steps__banner o-col-xs-12 o-col-sm-12 o-col-md-5 o-col-lg-5 u-height-desktop-sidebar")
                    h1.p-steps__title Puntajes PDT
                    p.p-steps__subtitle Si aún no rindes la PDT, puedes continuar con puntajes simulados
                 div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-7 o-col-lg-7")   
                        div.p-steps__inner
                            form(action="paso5.html", role="form", class="js-v-form-container")
                                
                                // Componente input nota
                                fieldset.c-fieldset
                                    div.c-fieldset__content.c-fieldset__text-number
                                        label.c-label(for="puntaje") Promedio de enseñanza media
                                        div.c-input-number__content
                                            - var texto = "Ejemplo: 5,8";
                                            - var clase  = "c-input-text c-input-text__big-size u-text-center js-v-form-key-nota js-v-form-nota js-v-acronimo";
                                            - var id = "nota";
                                            - var name = "nota";
                                            - var valor = "";
                                            - var tipo = "tel";
                                            - var maxlength = 3;
                                            - var botonclave = false; 
                                            include ../components/c-input-text.pug
                                    p.c-error(role="alert") Ingresa una nota válida 

                                h2.p-steps__form-title Puntajes esperados 
                                include ../components/c-input.pug 
                                +inputRange('seleccion','lectura','450','850','450','Comprensión Lectora','Ingresa un puntaje válido','Ejemplo: 550')
                                
                            
                                +inputRange('seleccion','mat','450','850','450','Matemática','Ingresa un puntaje válido','Ejemplo: 550')

                                +inputRange('seleccion','historia','450','850','450','Historia y Ciencias Sociales','Ingresa un puntaje válido','Ejemplo: 550')
                            
                                +inputRange('seleccion','ciencia','450','850','450','Ciencias','Ingresa un puntaje válido','Ejemplo: 550')
                                
                                h2.p-steps__form-title Beneficios externos

                                div.p-benefit
                                  
                                    h3.p-benefit__subtitle Beneficios estatales tienen como requisito de puntaje promedio Compresión Lectora y Matemática, 475 para CAE y 500 par beca Bicentenario
                                    div.p-benefit__container-switch
                                        fieldset.c-switch
                                            
                                            +inputSwitch('forcae','cae',true) 
                                            label(for="forcae").c-switch__label  Crédito con aval del estado (CAE)
                                        fieldset.c-switch
                                            +inputSwitch('forbeca','beca',false) 
                                            label(for="forbeca").c-switch__label  Mineduc (beneficios estatales)

                                div.p-steps__container-button.p-steps__container-button--steps2
                                    - var texto = "VER RESULTADO";
  
                                    - var clase  = "js-v-form-paso-4 c-button c-button__blue c-button__disabled js-v-form-acronimo";
                                    include ../components/c-button.pug

                                    a(href="paso3.html", class="c-button c-button__white") VOLVER 
                                     
                                

    include ../layouts/l-footer.pug
