extends ../layouts/l-layout.pug
block content
    - var navegacion = false
    include ../layouts/l-header.pug
 
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                div(class="p-steps__banner u-only-desk o-col-xs-12 o-col-sm-12 o-col-md-4 o-col-lg-4 u-height-desktop-sidebar")
                    h3.p-steps__title ¡Tu simulación está lista!
                    - var classIco = ''
                    - var clase = ''
                    - var texto = '¡Felicitaciones! Con tu puntaje si podrías ser un seleccionado USS'
                    include ../components/c-alert.pug

                    - var texto = "SOLICITAR CERTIFICADO";
                    - var clase  = "c-button c-button__blue u-only-desk";
                    include ../components/c-button.pug 

                div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-8 o-col-lg-8")
                    div.p-steps__inner 
                        div.p-steps__content-certificate
                           
                            <svg class="p-steps__ico-ok" id="Group_5" data-name="Group 5" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                                <g id="Group_8_Copy" data-name="Group 8 Copy">
                                    <g id="Group_4" data-name="Group 4">
                                    <g id="Oval" transform="translate(0 0)" fill="none" stroke="#9c0" stroke-miterlimit="10" stroke-width="5">
                                        <circle cx="30" cy="30" r="30" stroke="none"/>
                                        <circle cx="30" cy="30" r="27.5" fill="none"/>
                                    </g>
                                    </g>
                                </g>
                                <path id="Line_3" data-name="Line 3" d="M0,4.921,6.307,11,18,0" transform="translate(22 26)" fill="none" stroke="#9c0" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="5"/>
                            </svg>

                            h1.p-steps__text-certificate ¡Tu certificado está listo!
                            h2.p-steps__text-email Hemos enviado una copia de tu certificado al mail #[a manuelr@mail.com]
                            hr.p-steps__separation
                            p.p-steps__text-share Invita a tus contactos a simular su beca

                            - var texto = "COMPARTIR";
                            - var clase  = "c-button c-button__info c-button__info--share p-steps__button-share";
                            include ../components/c-button.pug
                            

                        div.p-steps__container-button
                           
                            a.c-button.c-button__outline-blue(href="paso2.html") SIMULA OTRA CARRERA

                            - var texto = "SOLICITAR MÁS INFORMACIÓN";
                            - var clase  = "c-button c-button__info";
                            include ../components/c-button.pug
                         
                                                       
    include ../layouts/l-footer.pug
