mixin content1
    .carreras__lists
        .carreras__list.o-padding
            .o-col 
                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-10
                    h3.c-accordion__content-text 
                        strong Animacion digital - Santiago
            .o-col 
                .o-col-xs-7.o-col-sm-7.o-col-md-7.o-col-lg-7.u-mb-5
                    h4.c-accordion__content-text Mensualidad
                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-5
                    p.c-accordion__content-text.u-text-right 
                        strong $375.900
                .o-col-xs-1.o-col-sm-1.o-col-md-1.o-col-lg-1.u-mb-5
            .o-col 
                .o-col-xs-7.o-col-sm-7.o-col-md-7.o-col-lg-7
                    h4.c-accordion__content-text Beca USS
                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4
                    p.c-accordion__content-text.u-text-right 
                        strong $1.456.390
                .o-col-xs-1.o-col-sm-1.o-col-md-1.o-col-lg-1        
            button
                include ../components/c-icon-arrow.pug
        .carreras__list.o-padding
            .o-col 
                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-10
                    h3.c-accordion__content-text 
                        strong Diseño de productos y Servicios inteligentes - Santiago
            .o-col 
                .o-col-xs-7.o-col-sm-7.o-col-md-7.o-col-lg-7
                    h4.c-accordion__content-text Mensualidad
                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4
                    p.c-accordion__content-text.u-text-right 
                        strong $375.900
                .o-col-xs-1.o-col-sm-1.o-col-md-1.o-col-lg-1
            button
                include ../components/c-icon-arrow.pug
        .carreras__list.o-padding
            .o-col 
                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-10
                    h3.c-accordion__content-text
                        strong Diseño de digital de Servicios Sede: Santiago
            .o-col 
                .o-col-xs-7.o-col-sm-7.o-col-md-7.o-col-lg-7
                    h4.c-accordion__content-text Mensualidad
                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4
                    p.c-accordion__content-text.u-text-right 
                        strong $375.900
                .o-col-xs-1.o-col-sm-1.o-col-md-1.o-col-lg-1
            button
                include ../components/c-icon-arrow.pug
            

mixin content2
    .carreras__lists
        .carreras__list.o-padding
            .o-col 
                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-20
                    h3.c-accordion__content-title Valores regulares
            .o-col
                .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-5
                    h4.c-accordion__content-text Valor matrícula sin beca
                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4
                    p.c-accordion__content-text.u-text-right
                        strong $185.300
            .o-col
                .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-5
                    h4.c-accordion__content-text Valor de la carrera sin beca
                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4 
                    p.c-accordion__content-text.u-text-right
                        strong $3.546.235
            .o-col
                .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8
                    h4.c-accordion__content-text Valor arancel de referencia
                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4
                    p.c-accordion__content-text.u-text-right
                        strong $2.625.540
        .carreras__list.o-padding
            .o-col.u-mb-20 
                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12
                    h3.c-accordion__content-title Becas y beneficios
            .o-col.u-mb-20
                .o-col-xs-7.o-col-sm-7.o-col-md-7.o-col-lg-7
                    h4.c-accordion__content-text
                        strong.u-mb-5   Beca matrícula primera preferencia
                        br
                        span 100% de beca postulando a la USS en primera preferencia.
                .o-col-xs-5.o-col-sm-5.o-col-md-5.o-col-lg-5
                    p.c-accordion__content-text.u-text-right
                        strong $11.375.900
            .o-col.u-mb-10
                .o-col-xs-7.o-col-sm-7.o-col-md-7.o-col-lg-7
                    h4.c-accordion__content-text
                        strong.u-mb-5   Monto beca arancel
                .o-col-xs-5.o-col-sm-5.o-col-md-5.o-col-lg-5
                    p.c-accordion__content-text.u-text-right
                        strong $1.112.540
            .o-col
                .o-col-xs-7.o-col-sm-7.o-col-md-7.o-col-lg-7
                    h4.c-accordion__content-text
                        strong.u-mb-5   Beca USS
                .o-col-xs-5.o-col-sm-5.o-col-md-5.o-col-lg-5
                    p.c-accordion__content-text.u-text-right
                        strong $1.112.540
