.p-login {
    @include xs {
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
    &__banner {
        background-color: $blue;
        overflow: hidden;
        padding-top: 30px;
        min-height: 650px;
        position: relative;
        overflow: hidden;
        @include xs {
            padding-top: 15px;
            min-height: inherit;
        }
    }
    &__banner-img,
    &__banner-img-mob{
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__content-banner {
        width: 100%;
        max-width: 325px;
        margin-left: auto;
        position: relative;
        @include xs {
            margin-left: 0;
            padding-left: $padding_col;
            padding-right: $padding_col;
        }
    }
    &__logo {
        margin-bottom: 20px;
        width: 270px;
        height: 80px;
        margin-right: 15px;
        margin-left: auto;
        @include xs {
            width: 205px;
            height: 62px;
            margin-left: 0;
            margin-bottom: 10px;
        }
    }
    &__title {
        font-size: 4.2rem;
        font-weight: 500;
        color: $white;
        margin-bottom: 30px;
        @include xs {
            margin-bottom: 15px;
            line-height: 40px;
        }
        small {
            font-size: 2.1rem;
            font-weight: 500;
            color: $white;
            display: block;
            @include xs {
                line-height: 1;
            }
        }
    }
    &__content-subtitle {
        min-height: 99px;
        max-width: 330px;
        margin-left: auto;
        margin-right: -20px;
        padding: 16px 28px;
        position: relative;
        @include xs {
            min-height: 80px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    &__content-subtitle-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #33ffcc 0%, #009999 100%);
        -webkit-transform: skew(-8deg);
        -moz-transform: skew(-8deg);
        -o-transform: skew(-8deg);
    }
    &__subtitle {
        font-size: 1.8rem;
        font-weight: 500;
        color: $white;
        position: relative;
    }
    &__form {
        padding: 40px 0;
        min-height: 540px;
        position: relative;
        .dark-theme &{
            background-color: $darkgrey;
        }
        @include xs {
            position: static;
            min-height: inherit;
            padding-top: 20px;
            padding-bottom: 35px;
            padding-left: $padding_col;
            padding-right: $padding_col;
        }
    }
    &__inner {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        @include xs {
            max-width: 380px;
        }
    }
    &__accessibility{
        position: absolute;
        top: 0;
        right: 0;
        @include xs {
            top: 15px;
            right: 15px;
        }
    }
    &__text{
        color: $grey1;
        font-family: $font-a;
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 10px;
        .dark-theme &{
            color: $white;
        }
    }
    &__text-detail {
        color: $grey1;
        font-family: $font-a;
        font-size: 1.2rem;
        font-weight: 300;
        display: inline-block;
        margin: 20px 0;
        .dark-theme &{
            color: $white;
        }
    }
}