.p-steps{

 
    .dark-theme &{
       
        @include xs{
            background-color: $darkgrey;
        }
    } 
  
 
    &__form-title{
        font-size:1.8rem;
        color: $grey1;
        margin: 0px 0 20px;
        font-weight: 500;

        .dark-theme &{
            color: $white;
        } 

    }

    &__inner{
        max-width: 461px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 38px;
        @include xs{
            padding-top: 0;
        }

        &--simulacion{
            @include xs{
                padding-top: 38px;
            }
            
            &--title{
                @include xs{
                    font-size: 3.2rem;
                    font-weight: 300;
                }
            }
        }

        &--comparador{
            max-width: 720px;
            @include xs{
               padding-top: 15px;
            }
        }

       
    }

    &__simulacion{

        &--title{
            @include xs{
                font-size: 3.2rem;
                font-weight: 300;
            }
        }
    }

    &__title{
        font-size: 3.2rem;
        font-weight: 300;
        margin-bottom: 15px;
       
        .dark-theme &{
            color: $white;
        } 
    }

    &__ico-ok{
        width: 60px;
        margin: 0 auto 25px;
        display: block;
        .dark-theme &{

            g{
                stroke: $white;
            }
            path{
                stroke: $white;
            }

        }

    }

    &__content-certificate{
        width: 305px;
        margin: 30px auto 144px;
        @include xs{
            margin: 30px auto 20px;
            width: 296px;
        }
    }

    &__text-certificate{
        font-size: 3.2rem;
        line-height: 3.5rem;
        font-weight: 300;
        color: $grey1;
        text-align: center;
        margin-bottom: 1.5rem;
        .dark-theme &{
            color: $white;
        }
       
    }

    &__container-sedes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 17px;
        margin-bottom: 30px;

        @include xs{
            grid-template-columns: 1fr;
        }
        
        &--c-fieldset{
            margin-bottom: 0;
        }
    }


    &__text-email{
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 500;
        text-align: center;
        color: $grey1;
       
        a{
            color: $blue;
            .dark-theme &{
                color: $white;
            }
        }

        .dark-theme &{
            color: $white;
        }
       
    }

    &__separation{
        margin: 30px 0 50px;
        border: solid 1px #D3DCED;
        height: 1px;
    }


    &__text-share{
        font-size: 14px;
        font-weight: 300;
        color: $grey1;
        text-align: center;
        margin-bottom: 15px;
        .dark-theme &{
            color: $white;
        }
       
    }

    &__button-share{
       
    }

    &__subtitle{
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 20px;
        .dark-theme &{
            color: $white;
        } 
    }

    &__banner{
        padding-bottom: 20px;
        padding-top: 37px;
        padding-left: 42px;
        background: $white url(../images/pages/steps/lateral-bg.png) no-repeat bottom center / cover;
        @include xs{
            padding-top: 16px;
            padding-left: 0;
            background: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .dark-theme &{

            background-color: $darkgrey;
            color: $white;
        }

        &-h2{
            margin-bottom: 1rem;
            .dark-theme &{
                color: $white;
            }

            &-email{
                font-size: 1.4rem;
                display: block;
                margin-top: 8px;
            }
        }
    }

    &__form{
         background-color: $white;
        &--step2{
            margin-top: 0;
            padding-top: 0;
        }

        .dark-theme &{
            background-color: $darkgrey;
        }

        &--step-simulaciones{
            padding-top: 30px;
        }

    }

    
    &__container-button{
        display: flex;
        flex-direction: row-reverse;
        @include xs{
           flex-direction: column;
        }

        button{
            margin-bottom: 20px;
        }

        &--steps2{
            .c-button__white{
                width: 300px;
                @include xs{
                    width: 100%;
                }
            }
            .c-button__blue{

            }
        }
    }


    &__edit{
        background-color: rgba($green,0.1);
        min-height: 60px;
        display: flex;
        padding: 10px 20px 10px 38px;
        align-items: center;
        margin-bottom: 1.5rem;
        &-icono{
            width: 50px;
            margin-right: 1rem;
        }

        &-texto{
            font-weight: 500;
            font-size: 1.4rem;
            color: $grey1;
            width: 100%;
        }

        @include xs{
            //margin-left: -15px;
            //margin-right: -15px;
        }
    }


    &__comparador{

        &--box{
            margin-bottom: 70px;
            @include xs{
                margin-bottom: 20px;
            }
        }
    }


}


.p-benefit{
    margin-bottom: 45px;
    &__subtitle{
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.8rem;
        color: $grey1;
        margin-bottom: 20px;

        .dark-theme &{
            color: $white;
        }
        
        @include xs{
           
        }
    }

    &__container-switch{
        display: flex;
        @include xs{
            display: initial;
        }

        .c-input-switch{
            width: 70px;
            @include xs{
                
                width: 50px;
            }
        }
    }
}


.pago-beneficios{
    padding: 11px 17px 24px;
    border: solid 2px $grey1;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 26px;

    .dark-theme &{

        background-color: $darkestgrey;
        border: solid 1px $darkestgrey;
    }

    &__title{
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: bold;
        color: $grey1;
        span{
            float: right;
        }

        .dark-theme &{
            color: $white;
        }
    }

    &__subtitle{
        font-size: 1.2rem;
        line-height: 16px;
        font-weight: 300;
        color: $grey1;
        //max-width: 210px;
        .dark-theme &{
            color: $white;
        } 
    }

    &__separacion{
      
        box-sizing: border-box;
        height: 1px;
        border: 1px solid #D3DCED;
        margin: 15px 0;
    }

    &__condicion{
        color: $grey1;
        font-weight: 300;
        font-size: 1.4rem;
        max-width: 354px;
        margin-top: 15px;
        .dark-theme &{
            color: $white;
        }
    }

}


.career-simulation{
    &__title{
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $grey1;
        margin-bottom: 5px;
    }


    &__table{
        width: 100%;
        &-text{
            font-size: 1.4rem;
            color: $grey1;
            font-weight: 300;
        }

        &-price{
            font-size: 1.4rem;
            color: $grey1;
            font-weight: bold;
            text-align: right;
        }
    }

    &__separation{
        margin: 15px 0;
        border: solid 1px #D3DCED; 
    }
}


.career-simulation{

    &__title{
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2rem;
        color: $grey1;
        margin-bottom: 10px;
    }

    &__sub-title{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $grey1;
        margin-bottom: 5px;
    }


    &__table{
        width: 100%;
        &-text{
            font-size: 1.4rem;
            color: $grey1;
            font-weight: 300;
        }

        &-price{
            font-size: 1.4rem;
            color: $grey1;
            font-weight: bold;
            text-align: right;
        }
    }

    &__separation{
        margin: 15px 0;
        border: solid 1px #D3DCED; 
    }
}


.c-simulaciones{
    background-color: $white;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    padding: 1.5rem;
    .dark-theme &{
        background-color: inherit;
    }
    &__date{
        font-size: 1.2rem;
        font-weight: 300;
        color: $grey1;
        .dark-theme &{
            color: $white;
        }
    }

    &__certificado{
        color: $blue;
        font-size: 1.4rem;
        font-weight: bold;
        background: url(../images/commons/arrow-certificado.svg) no-repeat 3px center;
        padding-left: 13px;
        .dark-theme &{
            color: $white;
        }
       
    }

    &__carrera{
        font-size: 1.4rem;
        font-weight: 300;
        .dark-theme &{
            color: $white;
        }
    }

    &__label{
        font-size: 1.4rem;
        font-weight: 500;
        .dark-theme &{
            color: $white;
        }
    }
}

.puntaje__lists{
    padding-bottom: 20px;
    .puntaje__list{
        position: relative;
        padding-top: 9px;
        padding-bottom: 9px;
        border-top: 1px solid #D3DCED;
        &:last-of-type{
            border-bottom: 1px solid #D3DCED;
        }
    }
    &-text{
        font-family: $font-a;
        font-weight: 300;
        font-size: 1.4rem;
        color: $grey1;
        .dark-theme &{
            color: $white;
        }
    }
}
