extends ../layouts/l-layout.pug
block content
    - var navegacion = true
    - var estado = 'ptd'
    - var usuarioNuevo = false
    include ../layouts/l-header.pug
 
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                div(class="p-steps__banner o-col-xs-12 o-col-sm-12 o-col-md-4 o-col-lg-4 u-height-desktop-sidebar")
                    h1.p-steps__title ¡Tu simulación está lista!
                    - var classIco = ''
                    - var clase = ''
                    - var texto = '¡Felicitaciones! Con tu puntaje si podrías ser un seleccionado USS'
                    include ../components/c-alert.pug 
 
                    - var texto = "SOLICITAR CERTIFICADO";
                    - var clase  = "js-call-modal c-button c-button__blue u-only-desk"; 
                    - var dataModal = "avisoImportante";
                    include ../components/c-button.pug 

                div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-8 o-col-lg-8")
                    div.p-steps__inner 
                        p.p-steps__subtitle De acuerdo a los datos ingresados, podrías optar a las siguientes becas y beneficios:
                        h2.p-steps__form-title ¿Cuánto pagaré si uso los beneficios?
                        
                        div.pago-beneficios
                            h3.pago-beneficios__title Valor matrícula
                                span $0
                            p.pago-beneficios__subtitle Beca 100% matrícula, postulación primera preferencia.
                            hr.pago-beneficios__separacion
                            h3.pago-beneficios__title Valor arancel total
                                span $2.412.540
                            p.pago-beneficios__subtitle Beneficios: Beca USS - Bicentenario - CAE
                            hr.pago-beneficios__separacion
                            h3.pago-beneficios__title Valor mensual
                                span $2.412.540
                            p.pago-beneficios__subtitle Calculado en 10 cuotas
                            p.pago-beneficios__condicion * El desglose de todos los montos se encuentran detallados en el certificado
                        include ../mixins/m-accordion.pug
                        ul.c-accordion
                            li.c-accordion__list 
                                button(class="c-accordion__button", id="btn1", type="button", aria-expaanded="false", aria-controls="sect1") Detalles becas y beneficios
                                    include ../components/c-icon-arrow.pug
                                .c-accordion__content(id="sect1", role="region", aria-labelledby="btn1")
                                    +content2

                            li.c-accordion__list 
                                button(class="c-accordion__button", id="btn2", type="button", aria-expaanded="false", aria-controls="sect2") Carreras afines con tu simulación
                                    include ../components/c-icon-arrow.pug
                                .c-accordion__content(id="sect2", role="region", aria-labelledby="btn2")
                                    +content1
                            
                            li.c-accordion__list 
                                a(href="paso8-recurrente.html", class="c-accordion__button c-accordion__button--link", id="btn3", aria-expaanded="false", aria-controls="sect2") Comparar mis simulaciones
                                    include ../components/c-icon-arrow.pug
                                
                            li.c-accordion__list 
                                button(class="c-accordion__button", id="btn7", type="button", aria-expaanded="false", aria-controls="sect2") Tener en consideración
                                    include ../components/c-icon-arrow.pug
                                .c-accordion__content(id="sect2", role="region", aria-labelledby="btn4")
                                   .o-padding.u-pt-15.u-pb-15
                                        .o-col.u-mb-10 
                                            .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                                                img(src=baseImagesURL+"/commons/ico-beca.svg", alt="")
                                            .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                                                p.c-accordion__content-text La beca de matrícula será asignada si el alumno postula a la USS dentro de las tres primeras preferencias. Las coberturas en el valor de la matrícula son las siguientes: postulación en primera preferencia: 100%; en segunda preferencia: 80% ; y en tercera preferencia: 60%. Esta beca será válida únicamente por el primer año.
                                        .o-col.u-mb-10 
                                            .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                                                img(src=baseImagesURL+"/commons/ico-valores.svg", alt="")
                                            .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding  
                                                p.c-accordion__content-text Valores de arancel y matrícula corresponden al proceso admisión 2021. Las ponderaciones de cada carrera corresponden a las publicadas por el DEMRE en la Oferta Definitiva de Carreras, Vacantes y Ponderaciones, Proceso de Admisión 2021.
                                        .o-col.u-mb-10 
                                            .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                                                img(src=baseImagesURL+"/commons/ico-resultado.svg", alt="")
                                            .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                                                p.c-accordion__content-text El resultado de tu simulación como seleccionado USS se basa en la comparación del puntaje ponderado simulado y el puntaje del último seleccionado en la admisión 2020 para la carrera escogida.
                                        .o-col.u-mb-10 
                                            .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                                                img(src=baseImagesURL+"/commons/ico-puntajes.svg", alt="")
                                            .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                                                p.c-accordion__content-text Los puntajes considerados para el otorgamiento de Becas USS  fueron otorgados por el alumno y están sujetos a verificación al momento de la publicación oficial de resultados Demre. Hacemos presente que si los puntajes simulados son distintos a los resultados Demre se producirán cambios o hasta supresión en la beca Arancel Asignada.
                                        .o-col.u-mb-10 
                                            .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                                                img(src=baseImagesURL+"/commons/ico-beneficios.svg", alt="")
                                            .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                                                p.c-accordion__content-text
                                                    | Los beneficios estatales y CAE utilizados en esta simulación, están sujetos a verificación de acuerdo a los resultados oficiales de asignación publicados por el Ministerio de Educación en el caso de las becas (revisar fechas y resultados en 
                                                    a.c-accordion__content-link(href="www.beneficiosestudiantiles.cl") www.beneficiosestudiantiles.cl
                                                    | ), y por Ingresa en el caso del CAE (revisar fechas y resultados en 
                                                    a.c-accordion__content-link(href="www.ingresa.cl") www.ingresa.cl
                                                    | ). Si los resultados oficiales son diferentes a los simulados, se pueden producir cambios o hasta la supresión en la Beca de Arancel asignada.
                                        .o-col 
                                            .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                                                img(src=baseImagesURL+"/commons/ico-recuerda.svg", alt="")
                                            .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                                                p.c-accordion__content-text
                                                    strong Recuerda:
                                                    | Para poder optar a una de nuestras Becas debes postular a través del Sistema de Acceso y estar dentro de la lista de convocados para la carrera elegida.

                        div.p-steps__container-button
                            
                            a.c-button.c-button__outline-blue(href="paso2-recurrente.html") SIMULA OTRA CARRERA

                            - var texto = "SOLICITAR CERTIFICADO";
                            - var clase  = "js-call-modal c-button c-button__blue u-only-mobile";
                            - var dataModal = "avisoImportante";
                            include ../components/c-button.pug

                            - var texto = "SOLICITAR MÁS INFORMACIÓN";
                            - var clase  = "c-button c-button__info";
                            include ../components/c-button.pug
                         
                                                       
    include ../layouts/l-footer.pug