extends ../layouts/l-layout.pug
block content
    - var navegacion = true
    - var estado = 'carrera'
    - var usuarioNuevo = false
    include ../layouts/l-header.pug
     
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                 div(class="p-steps__banner o-col-xs-12 o-col-sm-12 o-col-md-5 o-col-lg-5 u-height-desktop-sidebar")
                    h2.p-steps__banner-h2 ¡Te damos la bienvenida!

                    div(class="u-none@begin-sm")
                        div(class="p-steps__edit u-only-mobile-flex")
                            div.p-steps__edit-icono 
                                img(src="../images/commons/ico-revisa.svg", alt="Revisa acá las nuevas simulaciones que tienes disponible")
                            div.p-steps__edit-texto
                                p Revisa acá las nuevas simulaciones que tienes disponible

                    h1.p-steps__title Carrera a simular
                    p.p-steps__subtitle Primero selecciona la sede y la carrera que<br> deseas simular.
                 div(class="p-steps__form p-steps__form--step2 o-col-xs-12 o-col-sm-12 o-col-md-7 o-col-lg-7")   
                        div.p-steps__inner
                            form(class="js-v-form-container", action="paso3-recurrente.html", role="form")
                                
                                div(class="u-none@xs")
                                    div(class="p-steps__edit")
                                        div.p-steps__edit-icono 
                                            img(src="../images/commons/ico-revisa.svg", alt="Revisa acá las nuevas simulaciones que tienes disponible")
                                        div.p-steps__edit-texto
                                            p Revisa acá las nuevas simulaciones que tienes disponible

                                h2.p-steps__form-title Sede
                                    
                                div.p-steps__container-sedes
                                    fieldset.c-fieldset.p-steps__container-sedes--c-fieldset
                                        div.c-fieldset__content-radio-sede
                                            div.c-radio-sede
                                                label.c-label.c-label__radio-sede(for="sconcepcion")
                                                    input(type="radio", id="sconcepcion", name="sede", value="concepcion")
                                                    .c-radio-sede__content
                                                        .c-radio-sede__content-image
                                                            img(src=baseImagesURL+"/sedes/img-sede-1.png", alt="universidad san sebastian Concepción", class="js-v-acronimo")
                                                        .c-radio-sede__content-text
                                                            p Concepción

                                    fieldset.c-fieldset.p-steps__container-sedes--c-fieldset
                                        div.c-fieldset__content-radio-sede
                                            div.c-radio-sede
                                                label.c-label.c-label__radio-sede(for="ssantiago")
                                                    input(type="radio", id="ssantiago", name="sede", value="santiago")
                                                    .c-radio-sede__content
                                                        .c-radio-sede__content-image
                                                            img(src=baseImagesURL+"/sedes/img-sede-3.png", alt="universidad san sebastian SantiagoCampus Los Leones", class="js-v-acronimo")
                                                        .c-radio-sede__content-text
                                                            p Santiago Campus Los Leones

                                    fieldset.c-fieldset.p-steps__container-sedes--c-fieldset
                                        div.c-fieldset__content-radio-sede
                                            div.c-radio-sede
                                                label.c-label.c-label__radio-sede(for="ssantiago-bellavista")
                                                    input(type="radio", id="ssantiago-bellavista", name="sede", value="santiago-bellavista")
                                                    .c-radio-sede__content
                                                        .c-radio-sede__content-image
                                                            img(src=baseImagesURL+"/sedes/img-sede-2.png", alt="universidad san sebastian Santiago Campus Bellavista", class="js-v-acronimo")
                                                        .c-radio-sede__content-text
                                                            p Santiago Campus Bellavista
                                            
                                    fieldset.c-fieldset.p-steps__container-sedes--c-fieldset
                                        div.c-fieldset__content-radio-sede
                                            div.c-radio-sede
                                                label.c-label.c-label__radio-sede(for="spatagonia")
                                                    input(type="radio", id="spatagonia", name="sede", value="patagonia")
                                                    .c-radio-sede__content
                                                        .c-radio-sede__content-image
                                                            img(src=baseImagesURL+"/sedes/img-sede-4.png", alt="universidad san sebastian Patagonia", class="js-v-acronimo")
                                                        .c-radio-sede__content-text
                                                            p Patagonia
                                    
                                    fieldset.c-fieldset.p-steps__container-sedes--c-fieldset
                                        div.c-fieldset__content-radio-sede
                                            div.c-radio-sede
                                                label.c-label.c-label__radio-sede(for="svaldivia")
                                                    input(type="radio", id="svaldivia", name="sede", value="valdivia", class="js-v-acronimo")
                                                    .c-radio-sede__content
                                                        .c-radio-sede__content-image
                                                            img(src=baseImagesURL+"/sedes/img-sede-5.png", alt="universidad san sebastian Valdivia")
                                                        .c-radio-sede__content-text
                                                            p Valdivia

                                p.c-error.c-error--sede(role="alert") Selecciona una sede
                                    
                                fieldset.c-fieldset
                                    div.c-fieldset__content
                                        label.c-label(for="carrera") Carrera
                                        - var texto = "Selecciona una carrera";
                                        - var clase  = "c-select js-v-acronimo";
                                        - var id = "carrera";
                                        - var name = "carrera";
                                        - var valor = "";
                                        - var tipo = 'carrera'
                                        include ../components/c-select.pug
                                    p.c-error(role="alert") Selecciona una carrera


                                div.p-steps__container-button.p-steps__container-button--steps2
                                    // Componente boton
                                    - var id = "";
                                    - var tipo = "submit";
                                    - var texto = "COMPLETAR DATOS PERSONALES";
                                    - var clase  = "js-v-form c-button c-button__blue c-button__disabled js-v-form-acronimo";
                                    - var dataModal = "";
                                    include ../components/c-button.pug

                                    a(href="login-recurrente.html", class="c-button c-button__white u-only-desk") VOLVER
                                

    include ../layouts/l-footer.pug
