extends ../layouts/l-layout.pug
block content
    - var navegacion = true
    - var estado = 'datos'
    - var usuarioNuevo = true
    include ../layouts/l-header.pug
     
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                 div(class="p-steps__banner o-col-xs-12 o-col-sm-12 o-col-md-5 o-col-lg-5 u-height-desktop-sidebar")
                    h1.p-steps__title Datos personales
                    h2.p-steps__banner-h2 Manuel Rojas 
                        small.p-steps__banner-h2-email manuelr@correo.cl 
                 div(class="p-steps__form p-steps__form--step2 o-col-xs-12 o-col-sm-12 o-col-md-7 o-col-lg-7")   
                        div.p-steps__inner
                            form(class="js-v-form-container", action="paso4.html", role="form")
                                
                                p.p-steps__subtitle Para saber más de ti y brindarte una simulación personalizada, ingresa los siguientes datos

                                fieldset.c-fieldset.js-v-form-group
                                    div.c-fieldset__content
                                        label.c-label(for="celular") Celular
                                        - var texto = "Ejemplo: +5698876567";
                                        - var clase  = "c-input-text js-v-form-key-celular js-v-form-celular js-v-acronimo";
                                        - var id = "celular";
                                        - var name = "celular";
                                        - var valor = "";
                                        - var tipo = "text";
                                        - var maxlength = false;
                                        - var botonclave = false;
                                        include ../components/c-input-text.pug
                                    p.c-error(role="alert") Ingresa un teléfono válido

                                fieldset.c-fieldset
                                    div.c-fieldset__content
                                        label.c-label(for="ensenanza") Año egreso de Enseñanza Media
                                        - var texto = "Selecciona tu año de egreso";
                                        - var clase  = "c-select js-v-acronimo";
                                        - var id = "ensenanza";
                                        - var name = "ensenanza";
                                        - var valor = "";
                                        include ../components/c-select.pug
                                    p.c-error(role="alert") Selecciona un año de egreso de Enseñanza Media
  
                                h2.p-steps__form-title Grupo familiar
                                p.p-steps__subtitle Ten presente que el grupo familiar se compone de las personas que viven en tu hogar incluyéndote a ti.
                                
                                fieldset.c-fieldset
                                    div.c-fieldset__content.c-fieldset__text-number
                                        label.c-label(for="integrantes") Nº de integrantes en tu hogar 
                                        div.c-input-number__content 
                                            button.c-input-number__button.c-input-number__button-inc -
                                            input.c-input-number__input(id="integrantes", type="number", min="0", max="30", value="0", class="js-v-acronimo", name="integrantes")
                                            button.c-input-number__button.c-input-number__button-dec +
                                
                                fieldset.c-fieldset
                                    div.c-fieldset__content
                                        label.c-label(for="rango") Rango de ingreso familiar mensual
                                        - var texto = "Selecciona un monto ";
                                        - var clase  = "c-select js-v-acronimo";
                                        - var id = "rango";
                                        - var name = "rango";
                                        - var valor = "";
                                        - var tipo = 'ingreso'
                                        include ../components/c-select.pug
                                    p.c-error(role="alert") Selecciona un rango de ingreso familiar mensual

                                div.p-steps__container-button.p-steps__container-button--steps2
                                    // Componente boton
                                    - var id = "";
                                    - var tipo = "submit";
                                    - var texto = "Ingresar puntajes";
                                    - var clase  = "js-v-form c-button__blue c-button__disabled js-v-form-acronimo";
                                    - var dataModal = "";
                                    include ../components/c-button.pug

                                    a(href="paso2.html", class="c-button c-button__white") VOLVER 
                                

    include ../layouts/l-footer.pug
