extends ../layouts/l-layout.pug
block content
    - var navegacion = true
    - var estado = 'ptd'
    - var usuarioNuevo = true
    include ../layouts/l-header.pug
     
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                 div(class="p-steps__banner o-col-xs-12 o-col-sm-12 o-col-md-5 o-col-lg-5 u-height-desktop-sidebar")
                    h1.p-steps__title Puntajes PDT
                    p.p-steps__subtitle Estos fueron tus puntajes obtenidos en la PDT rendida 2020

                 div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-7 o-col-lg-7")   
                        div.p-steps__inner
                            form(action="paso5.html", role="form", class="js-v-form-container")

                                .o-col.u-mb-20
                                    .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-5.u-no-padding-x
                                        p.p-steps__subtitle 
                                            strong Promedio de notas de enseñanza media 
                                    .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-5.u-no-padding-x
                                        p.p-steps__subtitle.u-text-right
                                            strong 6,2

                                h2.p-steps__form-title Puntajes obtenidos 

                                .puntaje__lists
                                    .o-col.puntaje__list
                                        .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-5.u-no-padding-x
                                            h3.puntaje__lists-text Comprensión Lectora
                                        .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-5.u-no-padding-x
                                            p.puntaje__lists-text.u-text-right 
                                                strong 720
                                    .o-col.puntaje__list
                                        .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-5.u-no-padding-x
                                            h3.puntaje__lists-text Matemática
                                        .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-5.u-no-padding-x
                                            p.puntaje__lists-text.u-text-right 
                                                strong 650
                                    .o-col.puntaje__list
                                        .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-5.u-no-padding-x
                                            h3.puntaje__lists-text Historia y Ciencias
                                        .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-5.u-no-padding-x
                                            p.puntaje__lists-text.u-text-right 
                                                strong 690
                                    .o-col.puntaje__list
                                        .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-no-padding-x
                                            h3.puntaje__lists-text Ciencias
                                        .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-no-padding-x
                                            p.puntaje__lists-text.u-text-right 
                                                strong 700

                                include ../components/c-input.pug
                                
                                h2.p-steps__form-title Beneficios externos

                                div.p-benefit
                                  
                                    h3.p-benefit__subtitle Beneficios estatales tienen como requisito de puntaje promedio Compresión Lectora y Matemática, 475 para CAE y 500 par beca Bicentenario
                                    div.p-benefit__container-switch
                                        fieldset.c-switch
                                            +inputSwitch('forcae','cae',true) 
                                            label(for="forcae").c-switch__label  Crédito con aval del estado (CAE)
                                        fieldset.c-switch
                                            +inputSwitch('forbeca','beca',false) 
                                            label(for="forbeca").c-switch__label  Mineduc (beneficios estatales)

                                div.p-steps__container-button.p-steps__container-button--steps2
                                    - var texto = "VER RESULTADO";
  
                                    - var clase  = "js-v-form-paso-4 c-button c-button__blue";
                                    include ../components/c-button.pug

                                    a(href="paso3.html", class="c-button c-button__white") VOLVER 
                                     
                                

    include ../layouts/l-footer.pug
