extends ../layouts/l-layout.pug
block content
    - var navegacion = false
    include ../layouts/l-header.pug
 
    main
        div(class="o-container p-steps u-padding-x-only-mobile") 
            div(class="o-col")
                div(class="p-steps__banner u-only-desk o-col-xs-12 o-col-sm-12 o-col-md-4 o-col-lg-4 u-height-desktop-sidebar")
                    h1.p-steps__title ¡Tu simulación está lista!
                    p.p-steps__subtitle De acuerdo a los datos ingresados, podrías optar a los siguientes descuentos:
                        - var texto = "SOLICITAR CERTIFICADO";
                    - var clase  = "js-call-modal c-button c-button__blue u-only-desk"; 
                    include ../components/c-button.pug 

                div(class="p-steps__form o-col-xs-12 o-col-sm-12 o-col-md-8 o-col-lg-8")
                    div.p-steps__inner.p-steps__inner--simulacion 
                       
                        h2.p-steps__form-title.p-steps__simulacion--title  Comparar simulaciones

                        - var classIco = ''
                        - var clase = 'u-only-desk u-ml-0 u-mr-0'
                        - var texto = 'Sólo puedes comparar un máximo de 3 simulaciones'
                        include ../components/c-alert.pug 
    
                        include ../components/c-input.pug
                        div.c-simulaciones.u-mb-20
                            .o-col
                                .o-col-xs-4.o-col-sm-6.o-col-md-6.o-col-lg-6.u-mb-20
                                    p.c-simulaciones__date 26 / 05 / 2021 
                                .o-col-xs-8.o-col-sm-6.o-col-md-6.o-col-lg-6.u-mb-20.u-text-right
                                    button.c-simulaciones__certificado SOLICITAR CERTIFICADO
                            .o-col 
                                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-10
                                    p.c-simulaciones__carrera Diseño de digital de Servicios Sede: Santiago
                            .o-col
                                .o-col-xs-9.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-6
                                    label(for="forbeca").c-simulaciones__label  Beca USS:  $1.456.390
                                .o-col-xs-3.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-6.u-text-right
                                    +inputSwitch('forbeca','cae',true)
                        div.c-simulaciones.u-mb-20
                            .o-col
                                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-20
                                    p.c-simulaciones__date 26 / 05 / 2021 
                            .o-col 
                                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-10
                                    p.c-simulaciones__carrera Diseño de digital de Servicios Sede: Santiago
                            .o-col
                                .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-6
                                    label(for="forbeca2").c-simulaciones__label  Beca USS:  $1.456.390
                                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-6.u-text-right
                                    +inputSwitch('forbeca2','cae2',false)
                        div.c-simulaciones.u-mb-20
                            .o-col
                                .o-col-xs-4.o-col-sm-6.o-col-md-6.o-col-lg-6.u-mb-20
                                    p.c-simulaciones__date 26 / 05 / 2021 
                                .o-col-xs-8.o-col-sm-6.o-col-md-6.o-col-lg-6.u-mb-20.u-text-right
                                    button.c-simulaciones__certificado  SOLICITAR CERTIFICADO
                            .o-col 
                                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-10
                                    p.c-simulaciones__carrera Diseño de digital de Servicios Sede: Santiago
                            .o-col
                                .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-6
                                    label(for="forbeca3").c-simulaciones__label  Beca USS:  $1.456.390
                                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-6.u-text-right
                                    +inputSwitch('forbeca3','cae3',true) 
                        div.c-simulaciones.u-mb-20
                            .o-col
                                .o-col-xs-4.o-col-sm-6.o-col-md-6.o-col-lg-6.u-mb-20
                                    p.c-simulaciones__date 26 / 05 / 2021 
                                .o-col-xs-8.o-col-sm-6.o-col-md-6.o-col-lg-6.u-mb-20.u-text-right
                                    button.c-simulaciones__certificado SOLICITAR CERTIFICADO
                            .o-col 
                                .o-col-xs-12.o-col-sm-12.o-col-md-12.o-col-lg-12.u-mb-10
                                    p.c-simulaciones__carrera Diseño de digital de Servicios Sede: Santiago
                            .o-col
                                .o-col-xs-8.o-col-sm-8.o-col-md-8.o-col-lg-8.u-mb-6
                                    label(for="forbeca4").c-simulaciones__label  Beca USS:  $1.456.390
                                .o-col-xs-4.o-col-sm-4.o-col-md-4.o-col-lg-4.u-mb-6.u-text-right
                                    +inputSwitch('forbeca4','cae3',true)    

                
                        form(action="paso9-recurrente.html", role="form") 
                            div.p-steps__container-button
                            
                                - var texto = "COMPARAR SIMULACIONES";
                                - var clase  = "c-button c-button__blue u-width-60";
                                
                                    include ../components/c-button.pug
                          
                                                       
    include ../layouts/l-footer.pug
