extends ../layouts/l-layout.pug
block content    
    main
        div(class="o-container") 
            div(class="o-col")
                div(class="p-login__form o-col-xs-12 o-col-sm-12 o-col-md-12 o-col-lg-12")     
                    div.p-login__inner
                        form(class="js-v-form-container", action="", role="form")
    
                            fieldset.c-fieldset
                                div.c-fieldset__content-radio
                                    div.c-radio
                                        label.c-label.c-label__radio(for="rut")
                                            input(type="radio", id="rut", name="cedular", value="rut" checked="true")
                                            span
                                            p Rut

                                    div.c-radio
                                        label.c-label.c-label__radio(for="pasaporte")
                                            input(type="radio", id="pasaporte", name="cedular", value="pasaporte")
                                            span
                                            p Pasaporte

                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    - var texto = "Ejemplo: 12345678-9";
                                    - var clase  = "c-input-text js-v-form-key-rut js-v-form-rut";
                                    - var id = "cedula";
                                    - var name = "cedula";
                                    - var valor = "";
                                    - var tipo = "text";
                                    - var maxlength = false;
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa una Cédula de identidad válida

                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    label.c-label(for="apellido") Email
                                    - var texto = "Ingresa tu email";
                                    - var clase  = "c-input-text js-v-form-email";
                                    - var id = "apellido";
                                    - var name = "email";
                                    - var valor = "";
                                    - var tipo = "email";
                                    - var maxlength = false;
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa un email válido

                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    label.c-label(for="celular") Celular
                                    - var texto = "Ejemplo: +5698876567";
                                    - var clase  = "c-input-text js-v-form-key-celular js-v-form-celular";
                                    - var id = "celular";
                                    - var name = "celular";
                                    - var valor = "";
                                    - var tipo = "text";
                                    - var maxlength = false;
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa un teléfono válido

                            fieldset.c-fieldset.js-v-form-group
                                div.c-fieldset__content
                                    label.c-label(for="demre") Clave DEMRE
                                    - var texto = "Ingresa tu claave DEMRE";
                                    - var clase  = "c-input-text";
                                    - var id = "demre";
                                    - var name = "demre";
                                    - var valor = "";
                                    - var tipo = "password";
                                    - var maxlength = false;
                                    - var botonclave = true; 
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa una clave válida

                            // Componente select
                            fieldset.c-fieldset
                                div.c-fieldset__content
                                    label.c-label(for="carrera") Carrera
                                    - var texto = "Selecciona una carrera";
                                    - var clase  = "c-select js-v-form-select";
                                    - var id = "carrera";
                                    - var name = "carrera";
                                    - var valor = "";
                                    include ../components/c-select.pug
                                p.c-error(role="alert") Selecciona una carrera

                            // Componente input inline puntaje
                            fieldset.c-fieldset
                                div.c-fieldset__content.c-fieldset__text-number
                                    label.c-label(for="puntaje") Comprensión Lectora
                                    div.c-input-number__content
                                        - var texto = "Ejemplo: 620";
                                        - var clase  = "c-input-text c-input-text__big-size u-text-center js-v-form-key-puntaje js-v-form-puntaje";
                                        - var id = "puntaje";
                                        - var name = "";
                                        - var valor = "";
                                        - var tipo = "tel";
                                        - var maxlength = 3;
                                        - var botonclave = false; 
                                        include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa un puntaje válido

                            // Componente input nota
                            fieldset.c-fieldset
                                div.c-fieldset__content.c-fieldset__text-number
                                    label.c-label(for="puntaje") Promedio de enseñanza media
                                    div.c-input-number__content
                                        - var texto = "Ejemplo: 5,8";
                                        - var clase  = "c-input-text c-input-text__big-size u-text-center js-v-form-key-nota js-v-form-nota";
                                        - var id = "nota";
                                        - var name = "";
                                        - var valor = "";
                                        - var tipo = "tel";
                                        - var maxlength = 3;
                                        - var botonclave = false; 
                                        include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa una nota válida 
                            
                            // Componente Range
                            include ../components/c-input.pug
                            +inputRange('seleccion','mat','450','850',550,'Matemática','Ingresa un puntaje válido')

                            +inputSwitch('forcae','cae','Crédito con aval del estado (CAE)') 
                            br
                            br
                            // Componente boton
                            - var id = "";
                            - var tipo = "submit";
                            - var texto = "Iniciar simulación";
                            - var clase  = "js-v-form c-button__blue";
                            - var dataModal = "";
                            include ../components/c-button.pug

