extends ../layouts/l-layout.pug
block content    
    main
        div(class="p-login o-container") 
            div(class="o-col")
                div(class="p-login__form o-col-xs-12 o-col-sm-12 o-col-md-12 o-col-lg-12")     
                    div.p-login__inner
                        form(action="", role="form")
                            label.c-label.c-label__radio(for="pasaporte") Rut / Pasaporte
                            p.p-login__text Para ingresar un pasaporte antepone la letra P
                            
                            fieldset.c-fieldset.c-fieldset__error
                                div.c-fieldset__content
                                    - var texto = "Ejemplo: 12345678-9";
                                    - var clase  = "c-input-text";
                                    - var id = "cedula";
                                    - var name = "cedula";
                                    - var valor = "";
                                    - var tipo = "text";
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Error

                            fieldset.c-fieldset
                                div.c-fieldset__content
                                    label.c-label(for="apellido") Email
                                    - var texto = "Ingresa tu email";
                                    - var clase  = "c-input-text";
                                    - var id = "apellido";
                                    - var name = "email";
                                    - var valor = "";
                                    - var tipo = "email";
                                    - var botonclave = false;
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa un email válido

                            fieldset.c-fieldset
                                div.c-fieldset__content
                                    label.c-label(for="demre") Clave DEMRE
                                    - var texto = "Ingresa tu claave DEMRE";
                                    - var clase  = "c-input-text";
                                    - var id = "demre";
                                    - var name = "demre";
                                    - var valor = "";
                                    - var tipo = "password";
                                    - var botonclave = true; 
                                    include ../components/c-input-text.pug
                                p.c-error(role="alert") Ingresa una clave válida

                            // Componente select
                            fieldset.c-fieldset
                                div.c-fieldset__content
                                    label.c-label(for="carrera") Carrera
                                    - var texto = "Selecciona una carrera";
                                    - var clase  = "c-select";
                                    - var id = "carrera";
                                    - var name = "carrera";
                                    - var valor = "";
                                    include ../components/c-select.pug
                                p.c-error(role="alert") Selecciona una carrera

                            // Componente input botones incrementar decrementar
                            fieldset.c-fieldset
                                div.c-fieldset__content.c-fieldset__text-number
                                    label.c-label(for="integrantes") Nº de integrantes en tu hogar 
                                    div.c-input-number__content 
                                        button.c-input-number__button.c-input-number__button-inc -
                                        input.c-input-number__input(id="integrantes", type="number", min="0", max="30", value="0")
                                        button.c-input-number__button.c-input-number__button-dec +

                            // Componente input inline puntaje
                            fieldset.c-fieldset
                                div.c-fieldset__content.c-fieldset__text-number
                                    label.c-label(for="puntaje") Comprensión Lectora
                                    div.c-input-number__content
                                        - var texto = "Ejemplo: 620";
                                        - var clase  = "c-input-text c-input-text__big-size u-text-center";
                                        - var id = "puntaje";
                                        - var name = "";
                                        - var valor = "";
                                        - var tipo = "number";
                                        - var botonclave = false; 
                                        include ../components/c-input-text.pug 

                            // Componente radio button elejir sede
                            fieldset.c-fieldset
                                div.c-fieldset__content-radio-sede
                                    div.c-radio-sede
                                        label.c-label.c-label__radio-sede(for="sconcepcion")
                                            input(type="radio", id="sconcepcion", name="sede", value="concepcion")
                                            .c-radio-sede__content
                                                .c-radio-sede__content-image
                                                    img(src=baseImagesURL+"/sedes/img-sede-1.png", alt="universidad san sebastian")
                                                .c-radio-sede__content-text
                                                    p Concepción

                            // Componente radio button elejir sede
                            fieldset.c-fieldset
                                div.c-fieldset__content-radio-sede
                                    div.c-radio-sede
                                        label.c-label.c-label__radio-sede(for="ssantiago")
                                            input(type="radio", id="ssantiago", name="sede", value="santiago")
                                            .c-radio-sede__content
                                                .c-radio-sede__content-image
                                                    img(src=baseImagesURL+"/sedes/img-sede-2.png", alt="universidad san sebastian")
                                                .c-radio-sede__content-text
                                                    p Santiago
                                    
                            // Componente acordeon
                            include ../components/c-accordion.pug

                            p.p-login__text-detail * Sólo puedes postular a becas si rindes la PDT este año o lo hiciste el año pasado (los puntajes tienen 2 años de vigencia).

                            // Componente boton
                            - var texto = "Iniciar simulación";
                            - var clase  = "c-button__outline-blue";
                            - var dataModal = "";
                            include ../components/c-button.pug

                            // Componente boton
                            - var texto = "Iniciar simulación";
                            - var clase  = "c-button__blue";
                            - var dataModal = "";
                            include ../components/c-button.pug

                            // Componente boton
                            - var texto = "volver";
                            - var clase  = "c-button__white";
                            - var dataModal = "";
                            include ../components/c-button.pug

                            // Componente boton llamando a modal
                            - var texto = "llamar a modal";
                            - var clase  = "c-button__blue js-call-modal";
                            - var dataModal = "avisoImportante";
                            include ../components/c-button.pug

                            // Componente card
                            include ../components/c-card.pug

                            // Alert
                            - var classIco = ''
                            - var clase = ''
                            - var texto = '¡Felicitaciones! Con tu puntaje si podrías ser un seleccionado USS'

                            include ../components/c-alert.pug 