header.l-header(role="banner")
     div(class="o-container u-padding-x-only-mobile")
         div(class="o-col l-header__container") 
            div(class="o-col-xs-12 o-col-sm-5 o-col-md-5 o-col-lg-5")              
                img(src="../images/header/logo-uss.png", alt="").l-header__uss-logo
                .l-header__content-buttons(class="u-none@begin-sm")
                    button.l-header__button.js-accessibility
                        img.l-header__image.l-header__image-moon(src=baseImagesURL+"/commons/ico-accessibility-moon.svg", alt="")
                        img.l-header__image.l-header__image-sun(src=baseImagesURL+"/commons/ico-accessibility-sun.svg", alt="")
                    a.l-header__button.l-header__exit(href="login.html") 
            div(class="l-header__content o-col-xs-12 o-col-sm-7 o-col-md-7 o-col-lg-7")
                .l-header__content-buttons(class="u-none@xs")
                    button.l-header__button.js-accessibility
                        img.l-header__image.l-header__image-moon(src=baseImagesURL+"/commons/ico-accessibility-moon.svg", alt="")
                        img.l-header__image.l-header__image-sun(src=baseImagesURL+"/commons/ico-accessibility-sun.svg", alt="")
                    a.l-header__button.l-header__exit(href="login.html")

                if navegacion
                    nav.l-header__nav
                        if usuarioNuevo

                            if estado == 'carrera'
                                a.l-header__steps.l-header__steps--career.l-header__steps--active CARRERA
                                a.l-header__steps.l-header__steps--personal-information DATOS PERSONALES
                                a.l-header__steps.l-header__steps--personal-pdt PUNTAJES PDT
                            
                            if estado == 'datos'
                                a(href="paso2.html").l-header__steps.l-header__steps--career CARRERA
                                a.l-header__steps.l-header__steps--personal-information.l-header__steps--active DATOS PERSONALES
                                a.l-header__steps.l-header__steps--personal-pdt PUNTAJES PDT
                                
                            if estado == 'ptd'
                                a(href="paso2.html").l-header__steps.l-header__steps--career CARRERA
                                a(href="paso3.html").l-header__steps.l-header__steps--personal-information DATOS PERSONALES
                                a.l-header__steps.l-header__steps--personal-pdt.l-header__steps--active PUNTAJES PDT
                            
                        else
                            if estado == 'carrera'
                                a.l-header__steps.l-header__steps--active CARRERA A SIMULAR 
                                a.l-header__steps PUNTAJES PDT
                            if estado == 'ptd'
                                a.l-header__steps CARRERA A SIMULAR 
                                a.l-header__steps.l-header__steps--active PUNTAJES PDT
                                