- var baseImagesURL = '../images'; 
doctype html
html(lang="es")
    head 
        title Simulador Universidad San Sebastian 
        meta(charset="UTF-8")
        meta(content="", lang="es", name="description")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel="stylesheet", href="../css/main.css", media="all")
    body
        block content
        // Componente modal
        include ../components/c-lightbox.pug
        include ../components/c-overlay.pug
        script(src="../js/scripts-min.js")