*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

mark {
  background: transparent;
}

input {
  &:focus {
    outline: none;
    box-shadow: 0;
  }

  &::placeholder {
    opacity: 1;
  }
}

fieldset {
  border-width: 0;
}

button {
  background: transparent;
  border-width: 0;
  cursor: pointer;

  &:active {
    color: inherit;
  }

  &:focus {
    outline: none;
  }

  &:required {
    box-shadow: none;
  }
}

ul,
ol {
  list-style: none;
}

label,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

//temporal
span {
  vertical-align: unset;
}

[hidden] {
  display: none;
}
