include ../mixins/m-accordion.pug

ul.c-accordion
    li.c-accordion__list 
        button(class="c-accordion__button", id="btn1", type="button", aria-expaanded="false", aria-controls="sect1") Detalles becas y beneficios
            include ../components/c-icon-arrow.pug
        .c-accordion__content(id="sect1", role="region", aria-labelledby="btn1")
             +content2
    li.c-accordion__list 
        button(class="c-accordion__button", id="btn2", type="button", aria-expaanded="false", aria-controls="sect2") Carreras afines con tu simulación
            include ../components/c-icon-arrow.pug
        .c-accordion__content(id="sect2", role="region", aria-labelledby="btn2")
            +content1
 
    li.c-accordion__list 
        button(class="c-accordion__button", id="btn2", type="button", aria-expaanded="false", aria-controls="sect2") Tener en consideración
            include ../components/c-icon-arrow.pug
        .c-accordion__content(id="sect2", role="region", aria-labelledby="btn2")
            .o-padding.u-pt-15.u-pb-15
                .o-col.u-mb-10 
                    .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                        img(src=baseImagesURL+"/commons/ico-beca.svg", alt="")
                    .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                        p.c-accordion__content-text La beca de matrícula será asignada si el alumno postula a la USS dentro de las tres primeras preferencias. Las coberturas en el valor de la matrícula son las siguientes: postulación en primera preferencia: 100%; en segunda preferencia: 80% ; y en tercera preferencia: 60%. Esta beca será válida únicamente por el primer año.
                .o-col.u-mb-10 
                    .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                        img(src=baseImagesURL+"/commons/ico-valores.svg", alt="")
                    .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding  
                        p.c-accordion__content-text Valores de arancel y matrícula corresponden al proceso admisión 2021. Las ponderaciones de cada carrera corresponden a las publicadas por el DEMRE en la Oferta Definitiva de Carreras, Vacantes y Ponderaciones, Proceso de Admisión 2021.
                .o-col.u-mb-10 
                    .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                        img(src=baseImagesURL+"/commons/ico-resultado.svg", alt="")
                    .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                        p.c-accordion__content-text El resultado de tu simulación como seleccionado USS se basa en la comparación del puntaje ponderado simulado y el puntaje del último seleccionado en la admisión 2020 para la carrera escogida.
                .o-col.u-mb-10 
                    .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                        img(src=baseImagesURL+"/commons/ico-puntajes.svg", alt="")
                    .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                        p.c-accordion__content-text Los puntajes considerados para el otorgamiento de Becas USS  fueron otorgados por el alumno y están sujetos a verificación al momento de la publicación oficial de resultados Demre. Hacemos presente que si los puntajes simulados son distintos a los resultados Demre se producirán cambios o hasta supresión en la beca Arancel Asignada.
                .o-col.u-mb-10 
                    .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                        img(src=baseImagesURL+"/commons/ico-beneficios.svg", alt="")
                    .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                        p.c-accordion__content-text
                            | Los beneficios estatales y CAE utilizados en esta simulación, están sujetos a verificación de acuerdo a los resultados oficiales de asignación publicados por el Ministerio de Educación en el caso de las becas (revisar fechas y resultados en 
                            a.c-accordion__content-link(href="www.beneficiosestudiantiles.cl") www.beneficiosestudiantiles.cl
                            | ), y por Ingresa en el caso del CAE (revisar fechas y resultados en 
                            a.c-accordion__content-link(href="www.ingresa.cl") www.ingresa.cl
                            | ). Si los resultados oficiales son diferentes a los simulados, se pueden producir cambios o hasta la supresión en la Beca de Arancel asignada.
                .o-col 
                    .o-col-xs-2.o-col-sm-2.o-col-md-2.o-col-lg-2
                        img(src=baseImagesURL+"/commons/ico-recuerda.svg", alt="")
                    .o-col-xs-10.o-col-sm-10.o-col-md-10.o-col-lg-10.o-padding
                        p.c-accordion__content-text
                            strong Recuerda:
                            | Para poder optar a una de nuestras Becas debes postular a través del Sistema de Acceso y estar dentro de la lista de convocados para la carrera elegida.