
.c-card.u-mb-5 
    .c-card__body
        h3.c-card__title Diseño digital de Servicios - Sede: Santiago 
        h4.c-card__subtitle.u-mb-20 Puntaje ponderado: 
            p.c-card__text.u-mt-5 623
        h4.c-card__subtitle.u-mb-20 Beca USS:
            p.c-card__text.u-mt-5 $1.612.540
        h4.c-card__subtitle.u-mb-20 Beneficio estatal:
            p.c-card__text.u-mt-5 $0
        h4.c-card__subtitle Arancel carrera:
            p.c-card__text.u-mt-5 $2.412.540
    .c-card__footer 
        h4.c-card__footer-text Mensual a pagar:
            p.u-mt-5 $253.400