<svg class="arrow-select" width="14px" height="9px" viewBox="0 0 14 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="PANTALLAS-DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="color_arrow" transform="translate(-869.000000, -447.000000)" stroke="#385FA6" stroke-width="3">
            <g id="Group-5" transform="translate(441.000000, 413.000000)">
                <polyline id="Line" points="430 36 435 41 440 36"></polyline>
            </g>
        </g>
    </g>
</svg>