div(class="c-input-text__mask")
    if  maxlength
        input(type=tipo, class=clase, id=id, name=name, placeholder=texto, value=valor,  maxlength=maxlength )
    else
        input(type=tipo, class=clase, id=id, name=name, placeholder=texto, value=valor )
    if botonclave
        button.js-button-demre 
            img(src=baseImagesURL+"/commons/ico-passdemre.svg", alt="")