mixin inputSwitch(forLabel,name,sel=false)
   label.c-input-switch
        if sel
            input(type="checkbox",id=forLabel,name=name,checked).c-input-switch__input
        else
            input(type="checkbox",id=forLabel,name=name).c-input-switch__input

        span.c-input-switch__slider.c-input-switch__round


 
mixin inputRange(forLabel,name,min,max,value=0,course,error,placeholder='',maxlength='3')
    fieldset.c-points
        div.c-points__mask
            label.c-points__course(for=forLabel)=course
            p.c-points__number Ej: 450
                
            div.c-points__container-text-range
                span.c-points-range__beginning=min 
                span.c-points-range__end=max
            input(type="range",min=min,max=max,value=value,name=name,maxlength=maxlength,placeholder=placeholder).c-points__input-range.js-v-form-points.js-v-form-key-puntaje.js-v-acronimo
        p.c-error(role="alert")=error
    