.c-lightbox#avisoImportante
  .c-lightbox__content 
    .js-close-modal.c-lightbox__close-text
    .c-lightbox__body
      .c-lightbox__body-wrapper
          <svg class="c-lightbox__body-logo" width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="PANTALLAS-DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="06_desk" transform="translate(-462.000000, -241.000000)">
                    <g id="Group-10">
                        <g id="Group-9" transform="translate(319.000000, 204.000000)">
                            <g id="Group-8-Copy" transform="translate(143.000000, 37.000000)">
                                <g class="svg" id="Group-4" stroke="#99CC00" stroke-width="5">
                                    <circle class="svg" id="Oval" cx="30" cy="30" r="27.5"></circle>
                                </g>
                                <circle class="svg-circle" id="Oval" fill="#99CC00" cx="30" cy="43.5" r="4.5"></circle>
                                <line class="svg" x1="30" y1="18" x2="30" y2="33" id="Line" stroke="#99CC00" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"></line>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
          </svg>
          h2.c-lightbox__body-title Importante 
          p.c-lightbox__body-text.u-mb-70 
            | Sólo podrás conservar un máximo de 3 certificados de simulación, por lo que los más antiguos serán deshabilitados. <br />
            | ¿Quieres continuar?
          form(action="paso7.html", role="form")
            .c-lightbox__body-buttons
              // Componente boton 
              - var texto = "no";
              - var clase  = "js-close-modal c-button__outline-blue";
              include ../components/c-button.pug

              // Componente boton
              - var texto = "si";
              - var clase  = "c-button__blue";
            
                include ../components/c-button.pug