div(class="c-select__mask")
    select(class=clase, id=id, name=name, placeholder=texto)
        option(disabled selected hidden) #{texto}
        if tipo == 'ingreso' 
            - var listados = ['$ 0 - 196.000', '$ 196.000 - 300.000', '$ 300.000 - 404.000','$ 404.000 - 504.000','$ 504.000 - 616.000','$ 616.000 - 772.000','$ 772.000 - 1.004.000','$ 1.004.000 - 1.412.000','$ 1.412.000 - 2.448.000','$2.448.00 - o más'];
        else if tipo == 'carrera' 
            - var listados = ['Carrera 1','Carrera 2','Carrera 3'];
        else
            - var listados = ['2020','2019','2018','2017','2016'];
             
        each listado in listados
            option(value=1) #{listado}
    include ../components/c-icon-arrow.pug